@page
@{
}

<link rel="stylesheet" href="~/css/promotion.css" asp-append-version="true" />

<h4 class="title text-center mb-3"><bold>PROMOTION</bold></h4>

<img class="pc" src="/images/promotion/04 promotion_Top Banner_PC.jpg" />
<img class="mobile" src="/images/promotion//04 promotion_Top Banner_Mobile_20220117.jpg" />

<div class="section text-center">
    <div class="row mt-3">
        <div class="col-12 ">
            <span class="maincolor"><bold>ส่วนลดของโครงการเรา สำหรับคุณ</bold></span>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 mt-3">
            <div class="row">
                <div class="col-12">
                    <span><bold>DREAM PRIVA</bold><br />พรีเมียมทาวน์โฮม<br />ราชพฤกษ์ - ปิ่นเกล้า - กาญจนาภิเษก</span>
                    <hr />
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <img src="/images/promotion/01 Dream Priva/04 Promotion_Detail_01 Dream Priva_20220620.png" style="width:100%" />
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-start mt-3">
                    <span>
                        <bold class="maincolor">PROMOTION!</bold><br />
                        พร้อมของแถมให้คุณกว่า 400,000 บาท<br />
                        ◉ ฟรี! ประตูรั้วอัตโนมัติ พร้อมต่อเติมหลังคาโรงรถ 90,000 บาท<br />
                        ◉ ฟรี! ครัวไทยหลังบ้าน ลงเสาเข็ม, ปูกระเบื้องพื้น, เคาน์เตอร์ครัว, ผนังเคาน์เตอร์พร้อมปูกระเบื้อง, หลังคา และรางน้ำฝนมูลค่า 150,000 บาท<br />
                        ◉ ฟรี! กระจกกั้นอาบน้ำ ห้องน้ำทั้งบน-ล่างมูลค่า 50,000 บาท<br />
                        ◉ ฟรี! แอร์ 18,000 BTU 1 ตัว พร้อมติดตั้งมูลค่า 22,500 บาท<br />
                        ◉ ฟรี! ปั๊มน้ำ-แท็งก์น้ำ พร้อมติดตั้งมูลค่า 12,500 บาท<br />
                        และค่าดำเนินการอื่นๆ
                    </span>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 mt-3">
            <div class="row">
                <div class="col-12">
                    <span><bold>RATIROM DELUXE</bold><br />บ้านเดี่ยวหลังใหญ่<br />ราชพฤกษ์ - ปิ่นเกล้า - กาญจนาภิเษก</span>
                    <hr />
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <img src="/images/promotion/02 Ratirom Deluxe/04 Promotion_Detail_02 Ratirom Deluxe_20220620.jpg" style="width:100%" />
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-start mt-3">
                    <span>
                        <bold class="maincolor">PROMOTION!</bold><br />
                        จองวันนี้ รับเลย!<br />
                        ส่วนลดและของแถมกว่า 1,000,000 บาท<br />
                        ◉ ฟรี! ประตูรั้วอัตโนมัติ พร้อมต่อเติมหลังคาโรงรถ 120,000 บาท<br />
                        ◉ ฟรี! ครัวไทยหลังบ้าน ลงเสาเข็ม, พื้นปูกระเบื้อง, เคาน์เตอร์ครัว พร้อมหลังคา และรางน้ำฝนอย่างดี 200,000 บาท<br />
                        ◉ ฟรี! Shower กระจกห้องน้ำทุกห้อง 75,000 บาท<br />
                        ◉ ฟรี! แอร์ 18,000 BTU 1ตัว พร้อมติดตั้ง 22,500 บาท<br />
                        ◉ ฟรี! ปั๊มน้ำ-แท็งก์น้ำ พร้อมติดตั้ 12,500 บาท<br />
                        ◉ ฟรี! อุปกรณ์ smart home / smart security พร้อมติดตั้ง 20,000 บาท<br />
                        และ ฟรี! ทุกค่าใช้จ่าย ฟรี! ทุกค่าดำเนินการจองวันนี้ รับเลย!<br />
                        ส่วนลดและของแถมกว่า 1,000,000 บาท<br />
                        ◉ ฟรี! ประตูรั้วอัตโนมัติ พร้อมต่อเติมหลังคาโรงรถ 120,000 บาท<br />
                        ◉ ฟรี! ครัวไทยหลังบ้าน ลงเสาเข็ม, พื้นปูกระเบื้อง, เคาน์เตอร์ครัว พร้อมหลังคา และรางน้ำฝนอย่างดี 200,000 บาท<br />
                        ◉ ฟรี! Shower กระจกห้องน้ำทุกห้อง 75,000 บาท<br />
                        ◉ ฟรี! แอร์ 18,000 BTU 1ตัว พร้อมติดตั้ง 22,500 บาท<br />
                        ◉ ฟรี! ปั๊มน้ำ-แท็งก์น้ำ พร้อมติดตั้ 12,500 บาท<br />
                        ◉ ฟรี! อุปกรณ์ smart home / smart security พร้อมติดตั้ง 20,000 บาท<br />
                        และ ฟรี! ทุกค่าใช้จ่าย ฟรี! ทุกค่าดำเนินการ<br />
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>