
<link rel="stylesheet" href="~/css/project.css" asp-append-version="true" />

<img class="pc" src="~/images/house/ratiromfifth/top banner/03 Home_05 Ratirom Fifth_01 Banner_PC - Ratirom Fifth.jpg" style="width:100%" />
<img class="mobile" src="~/images/house/ratiromfifth/top banner/03 Home_05 Ratirom Fifth_01 Banner_Mobile - Ratirom Fifth.jpg" style="width:100%" />

<div class="section text-center">
    <div class="row">
        <div class="col-12">
            <h4 class="mt-5">
                บ้านสไตล์ “โมเดิร์น ทาวน์โฮม”
            </h4>
            <span>
                ด้วยทาวน์โฮมหน้ากว้าง 6 เมตร อบอุ่น ทันสมัย และหรูหราในที่เดียวกัน โดยสอดแรกความเป็นทาวน์โฮมแบบโมเดิร์นไลฟ์สไตล์<br />
                ออกแบบโดยใช้เส้นสายเรียบง่าย โปร่งสบาย พื้นที่ใช้สอยได้ประโยชน์สูงสุด และใช้วัสดุคุณภาพสูง<br />
                "เอ ดรีม" ไม่เพียงแต่หรูหราด้วยวัสดุและคุณภาพการก่อสร้างที่ดี แต่ยังได้ผสมผสานกลิ่นอาบของความอบอุ่นในการใช้ชีวิต ที่แฝงอยู่ในการเลือกโทนสี<br />
                การออกแบบพื้นที่ส่วนกลางอันร่มรื่น ตลอดจนบรรยากาศภายในบ้าน เช่น การออกแบบฝ้าเพดานและหน้าต่างให้สูงเป็นพิเศษ<br />
                ช่วยให้แสงสว่างส่องเข้าถึงภายในตัวบ้านได้ดี สามารถเห็นวิวและบรรยากาศภายนอกได้ ไม่อึดอัด ทำให้รู้สึกผ่อนคลายจากการทำงาน<br />
                "เอ ดรีม" จึงเป็นบ้านเกรด A ที่ให้คุณได้ใช้ชีวิตในสไตล์ Cozy Modern อย่างแท้จริง<br />
                <strong>"A Dream- Touch the COZY, Live the MODERN"</strong>
            </span>
            <hr />
            <span>
                พื้นที่โครงการ 23 ไร่ 0 งาน 69 ตารางวา ทาวน์โฮม 2 ชั้น หน้ากว้าง 6 เมตร 3 ห้องนอน 2 ห้องน้ำ 1 ที่จอดรถ<br />
                พื้นที่ใช้สอย 115 และ 140ตารางเมตร บนขนาดที่ดินตั้งแต่ 18 ตารางวาขึ้นไป
            </span>
        </div>
    </div>
</div>1