
<link rel="stylesheet" href="~/css/project.css" asp-append-version="true" />

<img class="pc" src="~/images/house/ratiromfifth/top banner/03 Home_05 Ratirom Fifth_01 Banner_PC - Ratirom Fifth.jpg" style="width:100%" />
<img class="mobile" src="~/images/house/ratiromfifth/top banner/03 Home_05 Ratirom Fifth_01 Banner_Mobile - Ratirom Fifth.jpg" style="width:100%" />

<div class="section text-center">
    <div class="row">
        <div class="col-12">
            <h4 class="mt-5">
                บ้านสไตล์ “โมเดิร์น ทาวน์โฮม”
            </h4>
            <span>
                ถูกออกแบบให้กว้างสูงสุด 6.54 เมตร ทำให้ตัวบ้านโปร่งอยู่สบาย พร้อมมอบอิสระที่มากกว่าทาวน์เฮ้าส์แบบเก่า<br />
                ด้วยระบบ Pre-Cast Technology ที่กำจัดเสากลางบ้าน และเพิ่มเนื้อที่ใช้สอย ให้มากขึ้น เติมเต็มทุกความคุ้มค่าด้ววัสดุและอุปกรณ์คุณภาพสูง<br />
                ตามมาตรฐานอันเป็นเอกลักษณ์ของ ดรีมแลนด์ พร๊อพเพอร์ตี้<br />
                <strong>" Modern Townhome (ขยายความสบายของคุณ) "</strong>
            </span>
            <hr />
            <span>
                พื้นที่โครงการ 9 ไร่ 1 งาน 41.9 ตารางวา<br />
                ทาวน์โฮม 2 ชั้น หน้ากว้าง 6.54 เมตรและ 7.20 เมตร 3 ห้องนอน 2 ห้องน้ำ 1 ที่จอดรถ<br />
                พื้นที่ใช้สอย 118 ตารางเมตร บนขนาดที่ดินตั้งแต่ 20.4 ตารางวาขึ้นไป
            </span>
        </div>
    </div>
</div>