
<link rel="stylesheet" href="~/css/project.css" asp-append-version="true" />

<img class="pc" src="~/images/house/ratiromfifth/top banner/03 Home_05 Ratirom Fifth_01 Banner_PC - Ratirom Fifth.jpg" style="width:100%" />
<img class="mobile" src="~/images/house/ratiromfifth/top banner/03 Home_05 Ratirom Fifth_01 Banner_Mobile - Ratirom Fifth.jpg" style="width:100%" />

<div class="section text-center">
    <div class="row">
        <div class="row">
            <h3 class="mt-5"><bold>จุดบรรจบของความภูมิฐานและสง่างามสำหรับครอบครัวคุณ</bold></h3>
            <span class="mt-5">บ้านหลังใหม่สำหรับการเริ่มต้นครอบครัวที่อบอุ่น</span>
            <span class="mt-5">โครงการบ้านเดี่ยว-บ้านแฝด พื้นที่ใช้สอยเริ่มต้น 169 และ 196 ตร.ม. บนขนาดที่ดินเริ่มต้น 40.3 ตร.วา 3 ห้องนอน 3 ห้องน้ำ 1 ห้องอเนกประสงค์ ออกแบบด้วยแนวคิดเชื่อมต่อพื้นที่ในบ้านเข้าด้วยกัน ให้พื้นที่ใช้งานกว้างขวาง หรูหรา และยืดหยุ่น คำนึงถึงรูปแบบการใช้ชีวิตที่แตกต่างของแต่ละครอบครัวตามแนวคิด Flexible Living Space ใช้วัสดุคุณภาพสูง งานก่ออิฐฉาบปูนทั้งหลัง หมดปัญหาน้ำรั่วซึมจากรอยต่อ</span>
            <h3 class="mt-5"><bold>" Pride of Living Modernity "</bold></h3>
            <hr />
            <span class="mt-3">สะท้อนความภาคภูมิใจของการใช้ชีวิตคนยุคใหม่ ด้วยรูปแบบทันสมัย โครงสร้างที่มั่นคง และ ก่อสร้างด้วยวัสดุมาตรฐานสูงสุดอันเป็นเอกลักษณ์ของ ดรีมแลนด์ พร๊อพเพอร์ตี้ พร้อมประตูหน้าต่างออกแบบสูงพิเศษถึง 2.4 เมตร สวยงามและโดดเด่นเป็นเอกลักษณ์ ให้ความรู้สึกโปร่งโล่ง สบาย ไม่ว่าจะอยู่ส่วนไหนของบ้าน บนทำเลศักยภาพใกล้ทางด่วนศรีรัชฯ ครบครันด้วยสิ่งอำนวยความสะดวก รายล้อมไปด้วยห้างสรรพสินค้า โรงพยาบาลและร้านอาหารชื่อดังมากมาย</span>
        </div>
    </div>
</div>
<div class="row text-center mt-5">
    <img src="~/images/house/ratiromfifth/banner house/03 Home_05 Ratirom Fifth_01 Banner 2_PC.jpg" style="width:100%" />
    <h4 class="maincolor mt-5"><bold>ที่สุดแห่งความสะดวกสบาย</bold></h4>
    <div class="col-12 mt-4">
        <!--Nav pills-->
        <ul class="nav nav-pills nav-justified" role="tablist">
            <li class="nav-item">
                <a class="nav-link custom-tab active" data-bs-toggle="pill" href="#facility1"><strong>สิ่งอำนวยความสะดวก 1</strong></a>
            </li>
            <li class="nav-item">
                <a class="nav-link custom-tab" data-bs-toggle="pill" href="#facility2"><strong>สิ่งอำนวยความสะดวก 2</strong></a>
            </li>
        </ul>
    </div>
    <!--tab panes-->
    <div class="tab-content">
        <div id="facility1" class="image-container tab-pane active" style="height:270px !important">
            <div class="row mt-5">
                <div class="col-12 col-md-2"></div>
                <div class="col-12 col-md-2" style="display:block;margin: 0px auto;">
                    <img src="~/images/house/ratiromfifth/spec/Icon-การคมนาคม_B.png" style="width:200px" />
                    <p class="text-center mt-2" style="font-size:16px;color:#000">สะดวกด้วยระบบคมนาคมหลากหลาย</p>
                </div>
                <div class="col-12 col-md-2" style="display:block;margin: 0px auto;">
                    <img src="~/images/house/ratiromfifth/spec/Icon-ห้างสรรพสินค้า_B.png" style="width:200px" />
                    <p class="text-center mt-2" style="font-size:16px;color:#000">รายล้อมด้วยแหล่งช้อปปิ้ง ตลาด และห้างสรรพสินค้า</p>
                </div>
                <div class="col-12 col-md-2" style="display:block;margin: 0px auto;">
                    <img src="~/images/house/ratiromfifth/spec/Icon-Location_B.png" style="width:200px" />
                    <p class="text-center mt-2" style="font-size:16px;color:#000">ใกล้สถานศึกษา โรงพยาบาลชั้นนำ สถานที่ราชการ</p>
                </div>
                <div class="col-12 col-md-2" style="display:block;margin: 0px auto;">
                    <img src="~/images/house/ratiromfifth/spec/Icon-พื้นที่สีเขียว-25-ไร่_B.png" style="width:200px" />
                    <p class="text-center mt-2" style="font-size:16px;color:#000">สงบ ร่มรื่น ท่ามกลางกลิ่นอายธรรมชาติ</p>
                </div>
                <div class="col-12 col-md-2"></div>
            </div>
        </div>
        <div id="facility2" class="image-container tab-pane fade" style="height:270px !important">
            <div class="row mt-5">
                <div class="col-12 col-md-2"></div>
                <div class="col-12 col-md-2" style="display:block;margin: 0px auto;">
                    <img src="~/images/house/ratiromfifth/facility/3.png" style="display:block;margin: 0px auto;width:110px" />
                    <p class="text-center mt-4" style="font-size:16px;color:#000">คลับเฮ้าส์ขนาดกลาง</p>
                </div>
                <div class="col-12 col-md-2" style="display:block;margin: 0px auto;">
                    <img src="~/images/house/ratiromfifth/facility/5.png" style="display:block;margin: 0px auto;width:110px" />
                    <p class="text-center mt-4" style="font-size:16px;color:#000">ฟิตเนส</p>
                </div>
                <div class="col-12 col-md-2" style="display:block;margin: 0px auto;">
                    <img src="~/images/house/ratiromfifth/facility/4.png" style="display:block;margin: 0px auto;width:110px" />
                    <p class="text-center mt-4" style="font-size:16px;color:#000">พื้นที่พักผ่อน สวนส่วนกลาง</p>
                </div>
                <div class="col-12 col-md-2" style="display:block;margin: 0px auto;">
                    <img src="~/images/house/ratiromfifth/facility/2.png" style="display:block;margin: 0px auto;width:110px" />
                    <p class="text-center mt-4" style="font-size:16px;color:#000">รปภ. และ CCTV 24 ชั่วโมง</p>
                </div>
                <div class="col-12 col-md-2"></div>
            </div>
        </div>
    </div>
</div>
<div class="row mt-5">
    <img src="~/images/house/ratiromfifth/facility/03 Home_05 Ratirom Fifth_02 Facility Banner 3_PC.jpg" style="width:100%" />
</div>
<div class="row text-center mt-5">
    <h4 class="maincolor"><bold>Floor Plan</bold></h4>
    <div class="col-12">
        <!--Nav pills-->
        <ul class="nav nav-pills nav-justified" role="tablist">
            <li class="nav-item">
                <a class="nav-link custom-tab active" data-bs-toggle="pill" href="#priva1"><strong>PRIVA I</strong></a>
            </li>
            <li class="nav-item">
                <a class="nav-link custom-tab" data-bs-toggle="pill" href="#priva2"><strong>PRIVA II</strong></a>
            </li>
        </ul>
    </div>
    <!--tab panes-->
    <div class="tab-content">
        <div id="priva1" class="image-container tab-pane active">
            <div class="row">
                <div class="col-6">
                    <img src="~/images/house/ratiromfifth/plan/a/03 บ้านเดี่ยว-บ้านแฝด_05 Ratirom Fifth_04 Floor Plan_01 บ้านแฝด.png" style="width:100%" />
                </div>
                <div class="col-6">
                    <p class="text-center mt-3" style="padding-top:10%;font-size:16px;color: #0b54a3">
                        <strong>บ้านแฝด</strong>
                    </p>
                    <p class="text-center mt-3" style="font-size:16px;color: #000">
                        3 ห้องนอน 3 ห้องน้ำ 1 ห้องอเนกประสงค์<br />
                        พื้นที่ใช้สอย 169 ตารางเมตร
                    </p>
                    <p style="font-size:16px;color: #000">
                        ที่จอดรถในร่ม 2 คัน<br />
                        บานประตู หน้าต่างอลูมิเนียม หนาพิเศษ 1.5-2 มม.<br />
                        ห้องน้ำขนาดใหญ่ แยกส่วนเปียกและแห้ง พร้อมกระจกกั้น<br />
                        ครัวออกแบบเป็นสัดส่วน พร้อมเชื่อมต่อพื้นที่หลังบ้าน<br />
                        ออกแบบด้วยแนวคิด Modern-Loft Plan ให้บ้านกว้างขวางน่าอยู่<br />
                        Master Bedroom ขนาดใหญ่ มาพร้อมกับ กระจกสูง 2.4 เมตร สวยงามโอ่อ่า<br />
                        เพดานสูง 3 เมตร เสริมให้บ้านดูโล่ง โปร่งยิ่งขึ้น
                    </p>
                </div>
            </div>
        </div>
        <div id="priva2" class="image-container tab-pane fade">
            <div class="row">
                <div class="col-6">
                    <img src="~/images/house/ratiromfifth/plan/b/03 บ้านเดี่ยว-บ้านแฝด_05 Ratirom Fifth_04 Floor Plan_02 บ้านเดี่ยว.png" style="width:100%" />
                </div>
                <div class="col-6">
                    <p class="text-center mt-3" style="padding-top:10%;font-size:16px;color: #0b54a3">
                        <strong>บ้านเดี่ยว</strong>
                    </p>
                    <p class="text-center mt-3" style="font-size:16px;color: #000">
                        3 ห้องนอน 3 ห้องน้ำ 1 ห้องอเนกประสงค์<br />
                        พื้นที่ใช้สอย 196 ตารางเมตร
                    </p>
                    <p style="font-size:16px;color: #000">
                        ที่จอดรถในร่ม 2 คัน<br />
                        บานประตู หน้าต่างอลูมิเนียม หนาพิเศษ 1.5-2 มม.<br />
                        ห้องน้ำขนาดใหญ่ แยกส่วนเปียกและแห้ง พร้อมกระจกกั้น<br />
                        ครัวออกแบบเป็นสัดส่วน พร้อมเชื่อมต่อพื้นที่หลังบ้าน<br />
                        ออกแบบด้วยแนวคิด Modern-Loft Plan ให้บ้านกว้างขวางน่าอยู่<br />
                        Master Bedroom ขนาดใหญ่ มาพร้อมกับ กระจกสูง 2.4 เมตร สวยงามโอ่อ่า<br />
                        เพดานสูง 3 เมตร เสริมให้บ้านดูโล่ง โปร่งยิ่งขึ้น
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section mt-5"><hr /></div>
<div class="row mt-5">
    <div class="col-12">
        <h4 class="maincolor text-center"><bold>ทำเลที่ตั้ง</bold></h4>
        <div class="section mt-4"><p class="text-center">ทำเลศักยภาพ รายล้อมด้วยสิ่งอำนวยความสะดวกทั้งห้างสรรพสินค้า โรงพยาบาล และสถาบันการศึกษา เชื่อมต่อถนนหลักทั้งถนนราชพฤกษ์ ถนนกาญจนาภิเษก ถนนนครอินทร์ ถนนบรมราชชนนี และใกล้ทางพิเศษศรีรัชฯ เชื่อมต่อสู่ใจกลางเมืองได้อย่างรวดเร็ว</p></div>
        <!--Nav pills-->
        <ul class="nav nav-pills nav-justified" role="tablist">
            <li class="nav-item">
                <a class="nav-link custom-tab active" data-bs-toggle="pill" href="#ratchaphruek"><strong>ถนนราชพฤกษ์</strong></a>
            </li>
            <li class="nav-item">
                <a class="nav-link custom-tab" data-bs-toggle="pill" href="#kanchanaphisek"><strong>ถนนกาญจนาภิเษก</strong></a>
            </li>
            <li class="nav-item">
                <a class="nav-link custom-tab" data-bs-toggle="pill" href="#nakhonin"><strong>ถนนนครอินทร์</strong></a>
            </li>
            <li class="nav-item">
                <a class="nav-link custom-tab" data-bs-toggle="pill" href="#borommaratchachonnani"><strong>ถนนบรมราชชนนี</strong></a>
            </li>
            <li class="nav-item">
                <a class="nav-link custom-tab" data-bs-toggle="pill" href="#other"><strong>การเดินทาง</strong></a>
            </li>
        </ul>
        <!--tab panes-->
        <div class="tab-content">
            <div id="ratchaphruek" class="image-container tab-pane active">
                <br />
                <div class="row mt-4">
                    <div class="col-12 col-md-2">
                        <div class="row" style="display:block;margin: 0px auto;border:solid 4px #d2cdcf;background-color: #a79fa1;background-image: linear-gradient(135deg, #a79fa1 0%,#d2cdcf 67%);height:120px;width:120px;border-radius:100px">
                            <p class="text-center" style="padding-top:25%;font-size:16px">
                                <bold style="padding-top:50%;font-size:26px;color: #585052">4</bold><br /><bold style="padding-top:50%;font-size:18px;color: #585052">กม.</bold>
                            </p>
                        </div>
                        <br />
                        <div class="row">
                            <p class="text-center" style="font-size:16px;color: #000">
                                เดอะคริสตัล เอสบี<br />
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-md-2">
                        <div class="row" style="display:block;margin: 0px auto;border:solid 4px #d2cdcf;background-color: #a79fa1;background-image: linear-gradient(135deg, #a79fa1 0%,#d2cdcf 67%);height:120px;width:120px;border-radius:100px">
                            <p class="text-center" style="padding-top:25%;font-size:16px">
                                <bold style="padding-top:50%;font-size:26px;color: #585052">4.2</bold><br /><bold style="padding-top:50%;font-size:18px;color: #585052">กม.</bold>
                            </p>
                        </div>
                        <br />
                        <div class="row">
                            <p class="text-center" style="font-size:16px;color: #000">
                                โฮมโปร<br />
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-md-2">
                        <div class="row" style="display:block;margin: 0px auto;border:solid 4px #d2cdcf;background-color: #a79fa1;background-image: linear-gradient(135deg, #a79fa1 0%,#d2cdcf 67%);height:120px;width:120px;border-radius:100px">
                            <p class="text-center" style="padding-top:25%;font-size:16px">
                                <bold style="padding-top:50%;font-size:26px;color: #585052">5.5</bold><br /><bold style="padding-top:50%;font-size:18px;color: #585052">กม.</bold>
                            </p>
                        </div>
                        <br />
                        <div class="row">
                            <p class="text-center" style="font-size:16px;color: #000">
                                เดอะวอล์ค<br />
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-md-2">
                        <div class="row" style="display:block;margin: 0px auto;border:solid 4px #d2cdcf;background-color: #a79fa1;background-image: linear-gradient(135deg, #a79fa1 0%,#d2cdcf 67%);height:120px;width:120px;border-radius:100px">
                            <p class="text-center" style="padding-top:25%;font-size:16px">
                                <bold style="padding-top:50%;font-size:26px;color: #585052">3.2</bold><br /><bold style="padding-top:50%;font-size:18px;color: #585052">กม.</bold>
                            </p>
                        </div>
                        <br />
                        <div class="row">
                            <p class="text-center" style="font-size:16px;color: #000">
                                บ้านแอนด์บียอนด์<br />
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-md-2">
                        <div class="row" style="display:block;margin: 0px auto;border:solid 4px #d2cdcf;background-color: #a79fa1;background-image: linear-gradient(135deg, #a79fa1 0%,#d2cdcf 67%);height:120px;width:120px;border-radius:100px">
                            <p class="text-center" style="padding-top:25%;font-size:16px">
                                <bold style="padding-top:50%;font-size:26px;color: #585052">10.5</bold><br /><bold style="padding-top:50%;font-size:18px;color: #585052">กม.</bold>
                            </p>
                        </div>
                        <br />
                        <div class="row">
                            <p class="text-center" style="font-size:16px;color: #000">
                                ฟู้ดวิลล่า<br />
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-md-2">
                        <div class="row" style="display:block;margin: 0px auto;border:solid 4px #d2cdcf;background-color: #a79fa1;background-image: linear-gradient(135deg, #a79fa1 0%,#d2cdcf 67%);height:120px;width:120px;border-radius:100px">
                            <p class="text-center" style="padding-top:25%;font-size:16px">
                                <bold style="padding-top:50%;font-size:26px;color: #585052">10.5</bold><br /><bold style="padding-top:50%;font-size:18px;color: #585052">กม.</bold>
                            </p>
                        </div>
                        <br />
                        <div class="row">
                            <p class="text-center" style="font-size:16px;color: #000">
                                เดอะเซอร์เคิล<br />
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="kanchanaphisek" class="image-container tab-pane fade">
                <br />
                <div class="row mt-4">
                    <div class="col-12 col-md-1">
                    </div>
                    <div class="col-12 col-md-2">
                        <div class="row" style="display:block;margin: 0px auto;border:solid 4px #d2cdcf;background-color: #a79fa1;background-image: linear-gradient(135deg, #a79fa1 0%,#d2cdcf 67%);height:120px;width:120px;border-radius:100px">
                            <p class="text-center" style="padding-top:25%;font-size:16px">
                                <bold style="padding-top:50%;font-size:26px;color: #585052">1.7</bold><br /><bold style="padding-top:50%;font-size:18px;color: #585052">กม.</bold>
                            </p>
                        </div>
                        <br />
                        <div class="row">
                            <p class="text-center" style="font-size:16px;color: #000">
                                รร.เทพศิรินทร์นนทบุรี<br />
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-md-2">
                        <div class="row" style="display:block;margin: 0px auto;border:solid 4px #d2cdcf;background-color: #a79fa1;background-image: linear-gradient(135deg, #a79fa1 0%,#d2cdcf 67%);height:120px;width:120px;border-radius:100px">
                            <p class="text-center" style="padding-top:25%;font-size:16px">
                                <bold style="padding-top:50%;font-size:26px;color: #585052">4.6</bold><br /><bold style="padding-top:50%;font-size:18px;color: #585052">กม.</bold>
                            </p>
                        </div>
                        <br />
                        <div class="row">
                            <p class="text-center" style="font-size:16px;color: #000">
                                โลตัสบางใหญ่ (พลัสมอลล์)<br />
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-md-2">
                        <div class="row" style="display:block;margin: 0px auto;border:solid 4px #d2cdcf;background-color: #a79fa1;background-image: linear-gradient(135deg, #a79fa1 0%,#d2cdcf 67%);height:120px;width:120px;border-radius:100px">
                            <p class="text-center" style="padding-top:25%;font-size:16px">
                                <bold style="padding-top:50%;font-size:26px;color: #585052">10.5</bold><br /><bold style="padding-top:50%;font-size:18px;color: #585052">กม.</bold>
                            </p>
                        </div>
                        <br />
                        <div class="row">
                            <p class="text-center" style="font-size:16px;color: #000">
                                เซ็นทรัลเวสต์เกต<br />
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-md-2">
                        <div class="row" style="display:block;margin: 0px auto;border:solid 4px #d2cdcf;background-color: #a79fa1;background-image: linear-gradient(135deg, #a79fa1 0%,#d2cdcf 67%);height:120px;width:120px;border-radius:100px">
                            <p class="text-center" style="padding-top:25%;font-size:16px">
                                <bold style="padding-top:50%;font-size:26px;color: #585052">10.5</bold><br /><bold style="padding-top:50%;font-size:18px;color: #585052">กม.</bold>
                            </p>
                        </div>
                        <br />
                        <div class="row">
                            <p class="text-center" style="font-size:16px;color: #000">
                                อิเกียบางใหญ่<br />
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-md-2">
                        <div class="row" style="display:block;margin: 0px auto;border:solid 4px #d2cdcf;background-color: #a79fa1;background-image: linear-gradient(135deg, #a79fa1 0%,#d2cdcf 67%);height:120px;width:120px;border-radius:100px">
                            <p class="text-center" style="padding-top:25%;font-size:16px">
                                <bold style="padding-top:50%;font-size:26px;color: #585052">14.3</bold><br /><bold style="padding-top:50%;font-size:18px;color: #585052">กม.</bold>
                            </p>
                        </div>
                        <br />
                        <div class="row">
                            <p class="text-center" style="font-size:16px;color: #000">
                                รพ.เกษมราษฎร์รัตนาธิเบศร์<br />
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="nakhonin" class="image-container tab-pane fade">
                <br />
                <div class="row mt-4">
                    <div class="col-12 col-md-2"></div>
                    <div class="col-12 col-md-2">
                        <div class="row" style="display:block;margin: 0px auto;border:solid 4px #d2cdcf;background-color: #a79fa1;background-image: linear-gradient(135deg, #a79fa1 0%,#d2cdcf 67%);height:120px;width:120px;border-radius:100px">
                            <p class="text-center" style="padding-top:25%;font-size:16px">
                                <bold style="padding-top:50%;font-size:26px;color: #585052">3.5</bold><br /><bold style="padding-top:50%;font-size:18px;color: #585052">กม.</bold>
                            </p>
                        </div>
                        <br />
                        <div class="row">
                            <p class="text-center" style="font-size:16px;color: #000">
                                ตลาดพระราม 5<br />
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-md-1"></div>
                    <div class="col-12 col-md-2">
                        <div class="row" style="display:block;margin: 0px auto;border:solid 4px #d2cdcf;background-color: #a79fa1;background-image: linear-gradient(135deg, #a79fa1 0%,#d2cdcf 67%);height:120px;width:120px;border-radius:100px">
                            <p class="text-center" style="padding-top:25%;font-size:16px">
                                <bold style="padding-top:50%;font-size:26px;color: #585052">3.2</bold><br /><bold style="padding-top:50%;font-size:18px;color: #585052">กม.</bold>
                            </p>
                        </div>
                        <br />
                        <div class="row">
                            <p class="text-center" style="font-size:16px;color: #000">
                                รร.อนุบาลเด่นหล้า<br />
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-md-1"></div>
                    <div class="col-12 col-md-2">
                        <div class="row" style="display:block;margin: 0px auto;border:solid 4px #d2cdcf;background-color: #a79fa1;background-image: linear-gradient(135deg, #a79fa1 0%,#d2cdcf 67%);height:120px;width:120px;border-radius:100px">
                            <p class="text-center" style="padding-top:25%;font-size:16px">
                                <bold style="padding-top:50%;font-size:26px;color: #585052">4.6</bold><br /><bold style="padding-top:50%;font-size:18px;color: #585052">กม.</bold>
                            </p>
                        </div>
                        <br />
                        <div class="row">
                            <p class="text-center" style="font-size:16px;color: #000">
                                รร.นานาชาติดราก้อน<br />
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="borommaratchachonnani" class="image-container tab-pane fade">
                <br />
                <div class="row mt-4">
                    <div class="col-12 col-md-2"></div>
                    <div class="col-12 col-md-2">
                        <div class="row" style="display:block;margin: 0px auto;border:solid 4px #d2cdcf;background-color: #a79fa1;background-image: linear-gradient(135deg, #a79fa1 0%,#d2cdcf 67%);height:120px;width:120px;border-radius:100px">
                            <p class="text-center" style="padding-top:25%;font-size:16px">
                                <bold style="padding-top:50%;font-size:26px;color: #585052">5.9</bold><br /><bold style="padding-top:50%;font-size:18px;color: #585052">กม.</bold>
                            </p>
                        </div>
                        <br />
                        <div class="row">
                            <p class="text-center" style="font-size:16px;color: #000">
                                รพ.ธนบุรี 2<br />
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-md-1"></div>
                    <div class="col-12 col-md-2">
                        <div class="row" style="display:block;margin: 0px auto;border:solid 4px #d2cdcf;background-color: #a79fa1;background-image: linear-gradient(135deg, #a79fa1 0%,#d2cdcf 67%);height:120px;width:120px;border-radius:100px">
                            <p class="text-center" style="padding-top:25%;font-size:16px">
                                <bold style="padding-top:50%;font-size:26px;color: #585052">14</bold><br /><bold style="padding-top:50%;font-size:18px;color: #585052">กม.</bold>
                            </p>
                        </div>
                        <br />
                        <div class="row">
                            <p class="text-center" style="font-size:16px;color: #000">
                                เซ็นทรัลปิ่นเกล้า<br />
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-md-1"></div>
                    <div class="col-12 col-md-2">
                        <div class="row" style="display:block;margin: 0px auto;border:solid 4px #d2cdcf;background-color: #a79fa1;background-image: linear-gradient(135deg, #a79fa1 0%,#d2cdcf 67%);height:120px;width:120px;border-radius:100px">
                            <p class="text-center" style="padding-top:25%;font-size:16px">
                                <bold style="padding-top:50%;font-size:26px;color: #585052">12.4</bold><br /><bold style="padding-top:50%;font-size:18px;color: #585052">กม.</bold>
                            </p>
                        </div>
                        <br />
                        <div class="row">
                            <p class="text-center" style="font-size:16px;color: #000">
                                รพ.เจ้าพระยา<br />
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="other" class="image-container tab-pane fade">
                <br />
                <div class="row mt-4">
                    <div class="col-1"></div>
                    <div class="col-2">
                        <div class="row" style="display:block;margin: 0px auto;border:solid 4px #d2cdcf;background-color: #a79fa1;background-image: linear-gradient(135deg, #a79fa1 0%,#d2cdcf 67%);height:120px;width:120px;border-radius:100px">
                            <p class="text-center" style="padding-top:25%;font-size:16px">
                                <bold style="padding-top:50%;font-size:26px;color: #585052">10</bold><br /><bold style="padding-top:50%;font-size:18px;color: #585052">กม.</bold>
                            </p>
                        </div>
                        <br />
                        <div class="row">
                            <p class="text-center" style="font-size:16px;color: #000">
                                ทางด่วนศรีรัชฯ<br />(ด่านตลิ่งชัน)
                            </p>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="row" style="display:block;margin: 0px auto;border:solid 4px #d2cdcf;background-color: #a79fa1;background-image: linear-gradient(135deg, #a79fa1 0%,#d2cdcf 67%);height:120px;width:120px;border-radius:100px">
                            <p class="text-center" style="padding-top:25%;font-size:16px">
                                <bold style="padding-top:50%;font-size:26px;color: #585052">5</bold><br /><bold style="padding-top:50%;font-size:18px;color: #585052">กม.</bold>
                            </p>
                        </div>
                        <br />
                        <div class="row">
                            <p class="text-center" style="font-size:16px;color: #000">
                                ทางด่วนศรีรัชฯ<br />(ด่านฉิมพลี)
                            </p>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="row" style="display:block;margin: 0px auto;border:solid 4px #d2cdcf;background-color: #a79fa1;background-image: linear-gradient(135deg, #a79fa1 0%,#d2cdcf 67%);height:120px;width:120px;border-radius:100px">
                            <p class="text-center" style="padding-top:25%;font-size:16px">
                                <bold style="padding-top:50%;font-size:26px;color: #585052">4.4</bold><br /><bold style="padding-top:50%;font-size:18px;color: #585052">กม.</bold>
                            </p>
                        </div>
                        <br />
                        <div class="row">
                            <p class="text-center" style="font-size:16px;color: #000">
                                รถไฟฟ้าสายสีแดงอ่อน<br />สถานีตลิ่งชัน
                            </p>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="row" style="display:block;margin: 0px auto;border:solid 4px #d2cdcf;background-color: #a79fa1;background-image: linear-gradient(135deg, #a79fa1 0%,#d2cdcf 67%);height:120px;width:120px;border-radius:100px">
                            <p class="text-center" style="padding-top:25%;font-size:16px">
                                <bold style="padding-top:50%;font-size:26px;color: #585052">13.3</bold><br /><bold style="padding-top:50%;font-size:18px;color: #585052">กม.</bold>
                            </p>
                        </div>
                        <br />
                        <div class="row">
                            <p class="text-center" style="font-size:16px;color: #000">
                                รถไฟฟ้าสายสีเขียวอ่อน<br />สถานีบางหว้า
                            </p>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="row" style="display:block;margin: 0px auto;border:solid 4px #d2cdcf;background-color: #a79fa1;background-image: linear-gradient(135deg, #a79fa1 0%,#d2cdcf 67%);height:120px;width:120px;border-radius:100px">
                            <p class="text-center" style="padding-top:25%;font-size:16px">
                                <bold style="padding-top:50%;font-size:26px;color: #585052">16.8</bold><br /><bold style="padding-top:50%;font-size:18px;color: #585052">กม.</bold>
                            </p>
                        </div>
                        <br />
                        <div class="row">
                            <p class="text-center" style="font-size:16px;color: #000">
                                สถานีขนส่งสายใต้ใหม่<br />
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mt-4" style="background-color:#d2cdcf">
    <div class="col-12 col-md-12">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3874.5212768886167!2d100.42346381534735!3d13.807707799714365!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30e2911018a7794b%3A0xbade6220f8d7b5a2!2zRHJlYW0gUHJpdmEgKOC4q-C4oeC4ueC5iOC4muC5ieC4suC4mSDguJTguKPguLXguKEg4Lie4Lij4Li14Lin4LmI4LiyKQ!5e0!3m2!1sth!2sth!4v1663059093734!5m2!1sth!2sth" style="border:0;width:100%;height:450px" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <div class="mt-2"></div>
        <a href="https://goo.gl/maps/k7rvDaXQQXLH8MfG9">
            <h4 class="text-center" style="font-size:16px;color: #000">แผนที่ Google</h4>
        </a>
    </div>
</div>
<div class="row mt-5">
    <div class="col-12">
        <h4 class="maincolor text-center"><bold>Gallery</bold></h4>
    </div>
    <h4 class="maincolor text-center"><bold>DREAM PRIVA HIGHLIGHTS</bold></h4>
</div>
<hr />
