
<link rel="stylesheet" href="~/css/project.css" asp-append-version="true" />

<img class="pc" src="~/images/townhome/DreamPriva/02 Townhome_14 Dream Priva_01 Banner_PC.jpg" style="width:100%" />
<img class="mobile" src="~/images/townhome/DreamPriva/02 Townhome_14 Dream Priva_01 Banner_Mobile.jpg" style="width:100%" />

<div class="section text-center">
    <div class="row">
        <div class="row">
            <h3 class="mt-5"><bold style="color:#0b54a3">พรีเมียมทาวน์โฮม ใจกลางราชพฤกษ์</bold></h3>
            <span class="mt-5">
                พรีเมียมทาวน์โฮม อยู่สบาย ใจกลางราชพฤกษ์ ที่จะมาเติมเต็มความฝัน ความเป็นส่วนตัว และช่วงเวลา แห่งความอบอุ่น ด้วยดีไซน์ที่กว้าง โปร่งโล่ง ให้คุณวาดฝันชีวิตในแบบของคุณและครอบครัว กับพื้นที่ใช้สอยที่มากกว่า พร้อมห้องอเนกประสงค์ บนพื้นที่ส่วนตัวกว่า 20 ตารางวา
            </span>
            <h6 class="mt-3 mb-5"><bold style="color:#0b54a3"> 20.7 ตร.ว. เริ่ม 3.39 ล้านบาท </bold></h6>
            <hr />
        </div>
    </div>
</div>
<div class="row mt-5">
    <div class="col-12 col-md-6">
        <div class="row text-center">
            <h3 class="mt-3"><bold style="color:#0b54a3">Dreamland Quality Standard</bold></h3>
            <h6>คุณภาพเพื่อความสบายที่สุด “ของคุณ”</h6>
            <h6 class="mt-5">
                ความตั้งใจของ Dreamland Property คือ การสร้างบ้านแบบจริงใจ เพื่อมอบบ้านที่<br />
                มีคุณภาพและอยู่สบายที่สุดให้กับคุณและครอบครัว เราใส่ใจในทุกรายละเอียดการ<br />
                ก่อสร้าง การคัดสรรวัสดุ และการออกแบบ ให้คุณหมดกังวลกับปัญหาซ่อมแซมที่อาจ<br />
                เกิดขึ้นในอนาคต
            </h6>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="row text-center">
            <img src="~/images/townhome/DreamPriva/Dream Priva - Diagram.png" style="width:75%" />
        </div>
    </div>
</div>
<div class="row text-center mt-5">
    <img src="~/images/townhome/DreamPriva/banner/02 Townhome_14 Dream Priva_Banner 2_PCDream Priva.jpg" style="width:100%" />
    <h4 class="maincolor mt-5"><bold>สิ่งอำนวยความสะดวก</bold></h4>
    <div class="section">
        <p class="text-center">
            อบอุ่น ปลอดภัย ด้ายการดูแลระดับมาตรฐานตลอดทั้งโครงการ กับประตูรั้วอัตโนมัติที่สะดวกสบาย ความปลอดภัยด้วย Double Security CCTV และรปภ.ตรวจตราทุกชั่วโมง ให้คุณมีอิสระในการใช้ชีวิตในฝันได้อย่างลงตัว พร้อมเติมเต็มช่วงเวลาพักผ่อนด้วยสิ่งอำนวยความสะดวกมากมาย
        </p>
    </div>
    <div class="col-12 mt-4">
        <!--Nav pills-->
        <ul class="nav nav-pills nav-justified" role="tablist">
            <li class="nav-item">
                <a class="nav-link custom-tab active" data-bs-toggle="pill" href="#facility1"><strong>สวนสาธารณะ</strong></a>
            </li>
            <li class="nav-item">
                <a class="nav-link custom-tab" data-bs-toggle="pill" href="#facility2"><strong>สนามกีฬา</strong></a>
            </li>
            <li class="nav-item">
                <a class="nav-link custom-tab" data-bs-toggle="pill" href="#facility3"><strong>สระว่ายน้ำ</strong></a>
            </li>
            <li class="nav-item">
                <a class="nav-link custom-tab" data-bs-toggle="pill" href="#facility4"><strong>ฟิตเนส</strong></a>
            </li>
        </ul>
    </div>
    <!--tab panes-->
    <div class="tab-content">
        <div id="facility1" class="image-container tab-pane active">
            <div class="row mt-5 text-center">
                <div class="col-12">
                    <img src="~/images/townhome/DreamPriva/_DSC9598_1-01.jpg" style=" width:35%" />
                    <h6 class="mt-3" style="color:#000">สวนสาธารณะส่วนกลาง สำหรับพักผ่อน ออกกำลังกาย และสนามเด็กเล่น</h6>
                </div>
            </div>
        </div>
        <div id="facility2" class="image-container tab-pane fade">
            <div class="row mt-5">
                <div class="col-12">
                    <img src="~/images/townhome/DreamPriva/_DSC4077_1-01.jpg" style=" width:35%" />
                    <h6 class=mt-3 style="color:#000">สนามกีฬา พร้อมสปอร์ตไลท์ สามารถปรับเปลี่ยนการใช้งาน เล่นกีฬาได้หลากหลาย</h6>
                </div>
            </div>
        </div>
        <div id="facility3" class="image-container tab-pane fade">
            <div class="row mt-5">
                <div class="col-12">
                    <img src="~/images/townhome/DreamPriva/_DSC4065_1-01.jpg" style=" width:35%" />
                    <h6 class="mt-3" style="color:#000">สระว่ายน้ำระบบเกลือในพื้นที่ส่วนกลาง</h6>
                </div>
            </div>
        </div>
        <div id="facility4" class="image-container tab-pane fade">
            <div class="row mt-5">
                <div class="col-12">
                    <img src="~/images/townhome/DreamPriva/_DSC4075_1-01.jpg" style=" width:35%" />
                    <h6 class="mt-3 mb-5" style="color:#000">ฟิตเนสเครื่องออกกำลังกายครบครัน รองรับทั้งการออกกำลังกายแบบ Cardio และ Body Weight</h6>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mt-5">
    <img src="~/images/house/ratiromfifth/facility/03 Home_05 Ratirom Fifth_02 Facility Banner 3_PC.jpg" style="width:100%" />
</div>
<div class="row text-center mt-5">
    <h4 class="maincolor"><bold>Floor Plan</bold></h4>
    <div class="col-12">
        <!--Nav pills-->
        <ul class="nav nav-pills nav-justified" role="tablist">
            <li class="nav-item">
                <a class="nav-link custom-tab active" data-bs-toggle="pill" href="#priva1"><strong>PRIVA I</strong></a>
            </li>
            <li class="nav-item">
                <a class="nav-link custom-tab" data-bs-toggle="pill" href="#priva2"><strong>PRIVA II</strong></a>
            </li>
        </ul>
    </div>
    <!--tab panes-->
    <div class="tab-content">
        <div id="priva1" class="image-container tab-pane active">
            <div class="row">
                <div class="col-6">
                    <img src="~/images/townhome/DreamPriva/Dream Priva - 3 bedroom - Floor Plan.png" style="width:75%" />
                </div>
                <div class="col-6">
                    <p class="text-center mt-3" style="padding-top:10%;font-size:16px;color: #0b54a3">
                        <strong>3 ห้องนอน 2 ห้องน้ำ</strong>
                    </p>
                    <p class="text-center mt-3" style="font-size:16px;color: #000">
                        1 ส่วนรับแขก 1 ส่วนทานอาหาร/Pantry<br />
                        พร้อมครัวไทย/ส่วนซักล้าง และห้องเก็บของ<br />
                        2 ที่จอดรถ พร้อมประตูรั้วบ้านรีโมทไฟฟ้า
                    </p>
                    <p style="font-size:16px;color: #000">
                        พื้นที่ใช้สอย 124 ตารางเมตร | หน้ากว้าง 5.5 เมตร
                    </p>
                </div>
            </div>
        </div>
        <div id="priva2" class="image-container tab-pane fade">
            <div class="row">
                <div class="col-6">
                    <img src="~/images/townhome/DreamPriva/Dream Priva - 4 bedroom - Floor Plan.png" style="width:75%" />
                </div>
                <div class="col-6">
                    <p class="text-center mt-3" style="padding-top:10%;font-size:16px;color: #0b54a3">
                        <strong>3 ห้องนอน 1 ห้องอเนกประสงค์ 3 ห้องน้ำ</strong>
                    </p>
                    <p class="text-center mt-3" style="font-size:16px;color: #000">
                        1 ส่วนรับแขก 1 ส่วนทานอาหาร<br />
                        พร้อมครัวไทย/ส่วนซักล้าง และห้องเก็บของ<br />
                        2 ที่จอดรถ พร้อมประตูรั้วบ้านรีโมทไฟฟ้า
                    </p>
                    <p style="font-size:16px;color: #000">
                        พื้นที่ใช้สอย 124 ตารางเมตร | หน้ากว้าง 5.5 เมตร
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section mt-5"><hr /></div>
<div class="row mt-5">
    <div class="col-12">
        <h4 class="maincolor text-center"><bold>ทำเลที่ตั้ง</bold></h4>
        <div class="section mt-4"><p class="text-center">ทำเลศักยภาพ รายล้อมด้วยสิ่งอำนวยความสะดวกทั้งห้างสรรพสินค้า โรงพยาบาล และสถาบันการศึกษา เชื่อมต่อถนนหลักทั้งถนนราชพฤกษ์ ถนนกาญจนาภิเษก ถนนนครอินทร์ ถนนบรมราชชนนี และใกล้ทางพิเศษศรีรัชฯ เชื่อมต่อสู่ใจกลางเมืองได้อย่างรวดเร็ว</p></div>
        <!--Nav pills-->
        <ul class="nav nav-pills nav-justified" role="tablist">
            <li class="nav-item">
                <a class="nav-link custom-tab active" data-bs-toggle="pill" href="#ratchaphruek"><strong>ถนนราชพฤกษ์</strong></a>
            </li>
            <li class="nav-item">
                <a class="nav-link custom-tab" data-bs-toggle="pill" href="#kanchanaphisek"><strong>ถนนกาญจนาภิเษก</strong></a>
            </li>
            <li class="nav-item">
                <a class="nav-link custom-tab" data-bs-toggle="pill" href="#nakhonin"><strong>ถนนนครอินทร์</strong></a>
            </li>
            <li class="nav-item">
                <a class="nav-link custom-tab" data-bs-toggle="pill" href="#borommaratchachonnani"><strong>ถนนบรมราชชนนี</strong></a>
            </li>
            <li class="nav-item">
                <a class="nav-link custom-tab" data-bs-toggle="pill" href="#other"><strong>การเดินทาง</strong></a>
            </li>
        </ul>
        <!--tab panes-->
        <div class="tab-content">
            <div id="ratchaphruek" class="image-container tab-pane active">
                <br />
                <div class="row mt-4">
                    <div class="col-12 col-md-2">
                        <div class="row" style="display:block;margin: 0px auto;border:solid 4px #d2cdcf;background-color: #a79fa1;background-image: linear-gradient(135deg, #a79fa1 0%,#d2cdcf 67%);height:120px;width:120px;border-radius:100px">
                            <p class="text-center" style="padding-top:25%;font-size:16px">
                                <bold style="padding-top:50%;font-size:26px;color: #585052">4</bold><br /><bold style="padding-top:50%;font-size:18px;color: #585052">กม.</bold>
                            </p>
                        </div>
                        <br />
                        <div class="row">
                            <p class="text-center" style="font-size:16px;color: #000">
                                เดอะคริสตัล เอสบี<br />
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-md-2">
                        <div class="row" style="display:block;margin: 0px auto;border:solid 4px #d2cdcf;background-color: #a79fa1;background-image: linear-gradient(135deg, #a79fa1 0%,#d2cdcf 67%);height:120px;width:120px;border-radius:100px">
                            <p class="text-center" style="padding-top:25%;font-size:16px">
                                <bold style="padding-top:50%;font-size:26px;color: #585052">4.2</bold><br /><bold style="padding-top:50%;font-size:18px;color: #585052">กม.</bold>
                            </p>
                        </div>
                        <br />
                        <div class="row">
                            <p class="text-center" style="font-size:16px;color: #000">
                                โฮมโปร<br />
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-md-2">
                        <div class="row" style="display:block;margin: 0px auto;border:solid 4px #d2cdcf;background-color: #a79fa1;background-image: linear-gradient(135deg, #a79fa1 0%,#d2cdcf 67%);height:120px;width:120px;border-radius:100px">
                            <p class="text-center" style="padding-top:25%;font-size:16px">
                                <bold style="padding-top:50%;font-size:26px;color: #585052">5.5</bold><br /><bold style="padding-top:50%;font-size:18px;color: #585052">กม.</bold>
                            </p>
                        </div>
                        <br />
                        <div class="row">
                            <p class="text-center" style="font-size:16px;color: #000">
                                เดอะวอล์ค<br />
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-md-2">
                        <div class="row" style="display:block;margin: 0px auto;border:solid 4px #d2cdcf;background-color: #a79fa1;background-image: linear-gradient(135deg, #a79fa1 0%,#d2cdcf 67%);height:120px;width:120px;border-radius:100px">
                            <p class="text-center" style="padding-top:25%;font-size:16px">
                                <bold style="padding-top:50%;font-size:26px;color: #585052">3.2</bold><br /><bold style="padding-top:50%;font-size:18px;color: #585052">กม.</bold>
                            </p>
                        </div>
                        <br />
                        <div class="row">
                            <p class="text-center" style="font-size:16px;color: #000">
                                บ้านแอนด์บียอนด์<br />
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-md-2">
                        <div class="row" style="display:block;margin: 0px auto;border:solid 4px #d2cdcf;background-color: #a79fa1;background-image: linear-gradient(135deg, #a79fa1 0%,#d2cdcf 67%);height:120px;width:120px;border-radius:100px">
                            <p class="text-center" style="padding-top:25%;font-size:16px">
                                <bold style="padding-top:50%;font-size:26px;color: #585052">10.5</bold><br /><bold style="padding-top:50%;font-size:18px;color: #585052">กม.</bold>
                            </p>
                        </div>
                        <br />
                        <div class="row">
                            <p class="text-center" style="font-size:16px;color: #000">
                                ฟู้ดวิลล่า<br />
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-md-2">
                        <div class="row" style="display:block;margin: 0px auto;border:solid 4px #d2cdcf;background-color: #a79fa1;background-image: linear-gradient(135deg, #a79fa1 0%,#d2cdcf 67%);height:120px;width:120px;border-radius:100px">
                            <p class="text-center" style="padding-top:25%;font-size:16px">
                                <bold style="padding-top:50%;font-size:26px;color: #585052">10.5</bold><br /><bold style="padding-top:50%;font-size:18px;color: #585052">กม.</bold>
                            </p>
                        </div>
                        <br />
                        <div class="row">
                            <p class="text-center" style="font-size:16px;color: #000">
                                เดอะเซอร์เคิล<br />
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="kanchanaphisek" class="image-container tab-pane fade">
                <br />
                <div class="row mt-4">
                    <div class="col-12 col-md-1">
                    </div>
                    <div class="col-12 col-md-2">
                        <div class="row" style="display:block;margin: 0px auto;border:solid 4px #d2cdcf;background-color: #a79fa1;background-image: linear-gradient(135deg, #a79fa1 0%,#d2cdcf 67%);height:120px;width:120px;border-radius:100px">
                            <p class="text-center" style="padding-top:25%;font-size:16px">
                                <bold style="padding-top:50%;font-size:26px;color: #585052">1.7</bold><br /><bold style="padding-top:50%;font-size:18px;color: #585052">กม.</bold>
                            </p>
                        </div>
                        <br />
                        <div class="row">
                            <p class="text-center" style="font-size:16px;color: #000">
                                รร.เทพศิรินทร์นนทบุรี<br />
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-md-2">
                        <div class="row" style="display:block;margin: 0px auto;border:solid 4px #d2cdcf;background-color: #a79fa1;background-image: linear-gradient(135deg, #a79fa1 0%,#d2cdcf 67%);height:120px;width:120px;border-radius:100px">
                            <p class="text-center" style="padding-top:25%;font-size:16px">
                                <bold style="padding-top:50%;font-size:26px;color: #585052">4.6</bold><br /><bold style="padding-top:50%;font-size:18px;color: #585052">กม.</bold>
                            </p>
                        </div>
                        <br />
                        <div class="row">
                            <p class="text-center" style="font-size:16px;color: #000">
                                โลตัสบางใหญ่ (พลัสมอลล์)<br />
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-md-2">
                        <div class="row" style="display:block;margin: 0px auto;border:solid 4px #d2cdcf;background-color: #a79fa1;background-image: linear-gradient(135deg, #a79fa1 0%,#d2cdcf 67%);height:120px;width:120px;border-radius:100px">
                            <p class="text-center" style="padding-top:25%;font-size:16px">
                                <bold style="padding-top:50%;font-size:26px;color: #585052">10.5</bold><br /><bold style="padding-top:50%;font-size:18px;color: #585052">กม.</bold>
                            </p>
                        </div>
                        <br />
                        <div class="row">
                            <p class="text-center" style="font-size:16px;color: #000">
                                เซ็นทรัลเวสต์เกต<br />
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-md-2">
                        <div class="row" style="display:block;margin: 0px auto;border:solid 4px #d2cdcf;background-color: #a79fa1;background-image: linear-gradient(135deg, #a79fa1 0%,#d2cdcf 67%);height:120px;width:120px;border-radius:100px">
                            <p class="text-center" style="padding-top:25%;font-size:16px">
                                <bold style="padding-top:50%;font-size:26px;color: #585052">10.5</bold><br /><bold style="padding-top:50%;font-size:18px;color: #585052">กม.</bold>
                            </p>
                        </div>
                        <br />
                        <div class="row">
                            <p class="text-center" style="font-size:16px;color: #000">
                                อิเกียบางใหญ่<br />
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-md-2">
                        <div class="row" style="display:block;margin: 0px auto;border:solid 4px #d2cdcf;background-color: #a79fa1;background-image: linear-gradient(135deg, #a79fa1 0%,#d2cdcf 67%);height:120px;width:120px;border-radius:100px">
                            <p class="text-center" style="padding-top:25%;font-size:16px">
                                <bold style="padding-top:50%;font-size:26px;color: #585052">14.3</bold><br /><bold style="padding-top:50%;font-size:18px;color: #585052">กม.</bold>
                            </p>
                        </div>
                        <br />
                        <div class="row">
                            <p class="text-center" style="font-size:16px;color: #000">
                                รพ.เกษมราษฎร์รัตนาธิเบศร์<br />
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="nakhonin" class="image-container tab-pane fade">
                <br />
                <div class="row mt-4">
                    <div class="col-12 col-md-2"></div>
                    <div class="col-12 col-md-2">
                        <div class="row" style="display:block;margin: 0px auto;border:solid 4px #d2cdcf;background-color: #a79fa1;background-image: linear-gradient(135deg, #a79fa1 0%,#d2cdcf 67%);height:120px;width:120px;border-radius:100px">
                            <p class="text-center" style="padding-top:25%;font-size:16px">
                                <bold style="padding-top:50%;font-size:26px;color: #585052">3.5</bold><br /><bold style="padding-top:50%;font-size:18px;color: #585052">กม.</bold>
                            </p>
                        </div>
                        <br />
                        <div class="row">
                            <p class="text-center" style="font-size:16px;color: #000">
                                ตลาดพระราม 5<br />
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-md-1"></div>
                    <div class="col-12 col-md-2">
                        <div class="row" style="display:block;margin: 0px auto;border:solid 4px #d2cdcf;background-color: #a79fa1;background-image: linear-gradient(135deg, #a79fa1 0%,#d2cdcf 67%);height:120px;width:120px;border-radius:100px">
                            <p class="text-center" style="padding-top:25%;font-size:16px">
                                <bold style="padding-top:50%;font-size:26px;color: #585052">3.2</bold><br /><bold style="padding-top:50%;font-size:18px;color: #585052">กม.</bold>
                            </p>
                        </div>
                        <br />
                        <div class="row">
                            <p class="text-center" style="font-size:16px;color: #000">
                                รร.อนุบาลเด่นหล้า<br />
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-md-1"></div>
                    <div class="col-12 col-md-2">
                        <div class="row" style="display:block;margin: 0px auto;border:solid 4px #d2cdcf;background-color: #a79fa1;background-image: linear-gradient(135deg, #a79fa1 0%,#d2cdcf 67%);height:120px;width:120px;border-radius:100px">
                            <p class="text-center" style="padding-top:25%;font-size:16px">
                                <bold style="padding-top:50%;font-size:26px;color: #585052">4.6</bold><br /><bold style="padding-top:50%;font-size:18px;color: #585052">กม.</bold>
                            </p>
                        </div>
                        <br />
                        <div class="row">
                            <p class="text-center" style="font-size:16px;color: #000">
                                รร.นานาชาติดราก้อน<br />
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="borommaratchachonnani" class="image-container tab-pane fade">
                <br />
                <div class="row mt-4">
                    <div class="col-12 col-md-2"></div>
                    <div class="col-12 col-md-2">
                        <div class="row" style="display:block;margin: 0px auto;border:solid 4px #d2cdcf;background-color: #a79fa1;background-image: linear-gradient(135deg, #a79fa1 0%,#d2cdcf 67%);height:120px;width:120px;border-radius:100px">
                            <p class="text-center" style="padding-top:25%;font-size:16px">
                                <bold style="padding-top:50%;font-size:26px;color: #585052">5.9</bold><br /><bold style="padding-top:50%;font-size:18px;color: #585052">กม.</bold>
                            </p>
                        </div>
                        <br />
                        <div class="row">
                            <p class="text-center" style="font-size:16px;color: #000">
                                รพ.ธนบุรี 2<br />
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-md-1"></div>
                    <div class="col-12 col-md-2">
                        <div class="row" style="display:block;margin: 0px auto;border:solid 4px #d2cdcf;background-color: #a79fa1;background-image: linear-gradient(135deg, #a79fa1 0%,#d2cdcf 67%);height:120px;width:120px;border-radius:100px">
                            <p class="text-center" style="padding-top:25%;font-size:16px">
                                <bold style="padding-top:50%;font-size:26px;color: #585052">14</bold><br /><bold style="padding-top:50%;font-size:18px;color: #585052">กม.</bold>
                            </p>
                        </div>
                        <br />
                        <div class="row">
                            <p class="text-center" style="font-size:16px;color: #000">
                                เซ็นทรัลปิ่นเกล้า<br />
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-md-1"></div>
                    <div class="col-12 col-md-2">
                        <div class="row" style="display:block;margin: 0px auto;border:solid 4px #d2cdcf;background-color: #a79fa1;background-image: linear-gradient(135deg, #a79fa1 0%,#d2cdcf 67%);height:120px;width:120px;border-radius:100px">
                            <p class="text-center" style="padding-top:25%;font-size:16px">
                                <bold style="padding-top:50%;font-size:26px;color: #585052">12.4</bold><br /><bold style="padding-top:50%;font-size:18px;color: #585052">กม.</bold>
                            </p>
                        </div>
                        <br />
                        <div class="row">
                            <p class="text-center" style="font-size:16px;color: #000">
                                รพ.เจ้าพระยา<br />
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="other" class="image-container tab-pane fade">
                <br />
                <div class="row mt-4">
                    <div class="col-1"></div>
                    <div class="col-2">
                        <div class="row" style="display:block;margin: 0px auto;border:solid 4px #d2cdcf;background-color: #a79fa1;background-image: linear-gradient(135deg, #a79fa1 0%,#d2cdcf 67%);height:120px;width:120px;border-radius:100px">
                            <p class="text-center" style="padding-top:25%;font-size:16px">
                                <bold style="padding-top:50%;font-size:26px;color: #585052">10</bold><br /><bold style="padding-top:50%;font-size:18px;color: #585052">กม.</bold>
                            </p>
                        </div>
                        <br />
                        <div class="row">
                            <p class="text-center" style="font-size:16px;color: #000">
                                ทางด่วนศรีรัชฯ<br />(ด่านตลิ่งชัน)
                            </p>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="row" style="display:block;margin: 0px auto;border:solid 4px #d2cdcf;background-color: #a79fa1;background-image: linear-gradient(135deg, #a79fa1 0%,#d2cdcf 67%);height:120px;width:120px;border-radius:100px">
                            <p class="text-center" style="padding-top:25%;font-size:16px">
                                <bold style="padding-top:50%;font-size:26px;color: #585052">5</bold><br /><bold style="padding-top:50%;font-size:18px;color: #585052">กม.</bold>
                            </p>
                        </div>
                        <br />
                        <div class="row">
                            <p class="text-center" style="font-size:16px;color: #000">
                                ทางด่วนศรีรัชฯ<br />(ด่านฉิมพลี)
                            </p>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="row" style="display:block;margin: 0px auto;border:solid 4px #d2cdcf;background-color: #a79fa1;background-image: linear-gradient(135deg, #a79fa1 0%,#d2cdcf 67%);height:120px;width:120px;border-radius:100px">
                            <p class="text-center" style="padding-top:25%;font-size:16px">
                                <bold style="padding-top:50%;font-size:26px;color: #585052">4.4</bold><br /><bold style="padding-top:50%;font-size:18px;color: #585052">กม.</bold>
                            </p>
                        </div>
                        <br />
                        <div class="row">
                            <p class="text-center" style="font-size:16px;color: #000">
                                รถไฟฟ้าสายสีแดงอ่อน<br />สถานีตลิ่งชัน
                            </p>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="row" style="display:block;margin: 0px auto;border:solid 4px #d2cdcf;background-color: #a79fa1;background-image: linear-gradient(135deg, #a79fa1 0%,#d2cdcf 67%);height:120px;width:120px;border-radius:100px">
                            <p class="text-center" style="padding-top:25%;font-size:16px">
                                <bold style="padding-top:50%;font-size:26px;color: #585052">13.3</bold><br /><bold style="padding-top:50%;font-size:18px;color: #585052">กม.</bold>
                            </p>
                        </div>
                        <br />
                        <div class="row">
                            <p class="text-center" style="font-size:16px;color: #000">
                                รถไฟฟ้าสายสีเขียวอ่อน<br />สถานีบางหว้า
                            </p>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="row" style="display:block;margin: 0px auto;border:solid 4px #d2cdcf;background-color: #a79fa1;background-image: linear-gradient(135deg, #a79fa1 0%,#d2cdcf 67%);height:120px;width:120px;border-radius:100px">
                            <p class="text-center" style="padding-top:25%;font-size:16px">
                                <bold style="padding-top:50%;font-size:26px;color: #585052">16.8</bold><br /><bold style="padding-top:50%;font-size:18px;color: #585052">กม.</bold>
                            </p>
                        </div>
                        <br />
                        <div class="row">
                            <p class="text-center" style="font-size:16px;color: #000">
                                สถานีขนส่งสายใต้ใหม่<br />
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mt-4" style="background-color:#d2cdcf">
    <div class="col-12 col-md-12">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3874.5212768886167!2d100.42346381534735!3d13.807707799714365!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30e2911018a7794b%3A0xbade6220f8d7b5a2!2zRHJlYW0gUHJpdmEgKOC4q-C4oeC4ueC5iOC4muC5ieC4suC4mSDguJTguKPguLXguKEg4Lie4Lij4Li14Lin4LmI4LiyKQ!5e0!3m2!1sth!2sth!4v1663059093734!5m2!1sth!2sth" style="border:0;width:100%;height:450px" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <div class="mt-2"></div>
        <a href="https://goo.gl/maps/yPSmkc9AmfnUTezv7">
            <h4 class="text-center" style="font-size:16px;color: #000">แผนที่ Google</h4>
        </a>
    </div>
</div>
<div class="row mt-5">
    <div class="col-12">
        <h4 class="maincolor text-center"><bold>Gallery</bold></h4>
    </div>
    <h4 class="maincolor text-center"><bold>DREAM PRIVA HIGHLIGHTS</bold></h4>
</div>
<hr />
