
<link rel="stylesheet" href="~/css/project.css" asp-append-version="true" />

<img class="pc" src="~/images/house/ratiromfifth/top banner/03 Home_05 Ratirom Fifth_01 Banner_PC - Ratirom Fifth.jpg" style="width:100%" />
<img class="mobile" src="~/images/house/ratiromfifth/top banner/03 Home_05 Ratirom Fifth_01 Banner_Mobile - Ratirom Fifth.jpg" style="width:100%" />

<div class="section text-center">
    <div class="row">
        <div class="col-12">
            <h4 class="mt-5">
                "บ้าน" ที่คุณจะเอนกายได้ทั้งวัน
            </h4>
            <span>
                สัมผัสประสบการณ์ "ทาวน์โฮมกว้าง" 6.54 และ 7.20 เมตร<br />
                เปลี่ยนความรู้สึกเดิมๆของทาวน์เฮ้าส์ "เขียนชีวิตใหม่อันเบาสบาย" ด้วยตัวคุณเอง<br />
                <strong>" Write your Own DREAM "</strong>
            </span>
            <hr />
            <span>
                พื้นที่โครงการ 8 ไร่ 2 งาน 83 ตารางวา ทาวน์โฮม 2 ชั้น หน้ากว้าง 6.54 เมตรและ 7.20 เมตร 3 ห้องนอน 2 ห้องน้ำ 1 ที่จอดรถ<br />
                พื้นที่ใช้สอย 118 ตารางเมตร บนขนาดที่ดินตั้งแต่ 20.4 ตารางวาขึ้นไป
            </span>
        </div>
    </div>
</div>