
<link rel="stylesheet" href="~/css/project.css" asp-append-version="true" />

<img class="pc" src="~/images/house/ratiromfifth/top banner/03 Home_05 Ratirom Fifth_01 Banner_PC - Ratirom Fifth.jpg" style="width:100%" />
<img class="mobile" src="~/images/house/ratiromfifth/top banner/03 Home_05 Ratirom Fifth_01 Banner_Mobile - Ratirom Fifth.jpg" style="width:100%" />

<div class="section text-center">
    <div class="row">
        <div class="col-12">
            <h4 class="mt-5">
                เมื่อความสุขถูกขยาย….ความสบายก็เหลือเฟือ
            </h4>
            <span>
                หากที่สุดของชีวิตคือที่สุดของความพึงพอใจ ส่วนขยายขนาด XL ..ในทุกมุม<br />
                ทุกพื้นที่การใช้สอย "ดรีมวิลเลจ" จะทำให้คุณและครอบครัวได้รับความพึงพอใจสูงสุด<br />
                <strong>"TOWNHOUSE XL"</strong>
            </span>
            <hr />
            <span>
                พื้นที่โครงการ 13 ไร่ 2 งาน 03 ตารางวา<br />
                ทาวน์โฮม 2 ชั้น หน้ากว้าง 6 เมตร 3 ห้องนอน 2 ห้องน้ำ 1 ที่จอดรถ พื้นที่ใช้สอย 150 ตารางเมตร บนที่ดินเริ่มต้น 27 ตารางวา<br />
            </span>
        </div>
    </div>
</div>