
<link rel="stylesheet" href="~/css/project.css" asp-append-version="true" />

<img class="pc" src="~/images/house/ratiromfifth/top banner/03 Home_05 Ratirom Fifth_01 Banner_PC - Ratirom Fifth.jpg" style="width:100%" />
<img class="mobile" src="~/images/house/ratiromfifth/top banner/03 Home_05 Ratirom Fifth_01 Banner_Mobile - Ratirom Fifth.jpg" style="width:100%" />

<div class="section text-center">
    <div class="row">
        <div class="col-12">
            <h4 class="mt-5">
                ครบสมบูรณ์ทุกฟังก์ชั่น ครบคุณค่าของคำว่า "บ้านที่ดี"
            </h4>
            <span>
                ตอบรับทุกการใช้ชีวิต เอื้อประโยชน์ใช้สอยทุกตารางนิ้ว<br />
                <strong>" Your Happiness, Your Dream "</strong>
            </span>
            <hr />
            <span>
                พื้นที่โครงการ 3 ไร่ 3 งาน<br />
                ทาวน์โฮม 2 ชั้น 2 ห้องนอน 2 ห้องน้ำ 1 ที่จอดรถ ขนาดที่ดินเริ่มต้น 18 ตารางวาขึ้นไป
            </span>
        </div>
    </div>
</div>