
<link rel="stylesheet" href="~/css/project.css" asp-append-version="true" />

<img class="pc" src="~/images/house/ratiromfifth/top banner/03 Home_05 Ratirom Fifth_01 Banner_PC - Ratirom Fifth.jpg" style="width:100%" />
<img class="mobile" src="~/images/house/ratiromfifth/top banner/03 Home_05 Ratirom Fifth_01 Banner_Mobile - Ratirom Fifth.jpg" style="width:100%" />

<div class="section text-center">
    <div class="row">
        <div class="row">
            <h3 class="mt-5"><bold>จุดบรรจบของความภูมิฐานและสง่างามสำหรับครอบครัวคุณ</bold></h3>
            <span class="mt-5">บ้านหลังใหม่สำหรับการเริ่มต้นครอบครัวที่อบอุ่น</span>
            <span class="mt-5">สะท้อนความภาคภูมิใจของการใช้ชีวิตคนยุคใหม่ ด้วยรูปแบบทันสมัย โครงสร้างที่มั่นคง และ ก่อสร้างด้วยวัสดุมาตรฐานสูงสุดอันเป็นเอกลักษณ์ของ ดรีมแลนด์ พร๊อพเพอร์ตี้ พร้อมประตูหน้าต่างออกแบบสูงพิเศษถึง 2.4 เมตร สวยงามและโดดเด่นเป็นเอกลักษณ์ ให้ความรู้สึกโปร่งโล่ง สบาย ไม่ว่าจะอยู่ส่วนไหนของบ้าน บนทำเลศักยภาพใกล้ทางด่วนศรีรัชฯ ครบครันด้วยสิ่งอำนวยความสะดวก รายล้อมไปด้วยห้างสรรพสินค้า โรงพยาบาลและร้านอาหารชื่อดังมากมาย</span>
            <h3 class="mt-5"><bold>" Pride of Living Modernity "</bold></h3>
            <hr />
            <span class="mt-3">พื้นที่โครงการ 24 ไร่ 2 งาน 4 ตารางวา  บ้านเดี่ยว/บ้านแฝด 2 ชั้น 3 ห้องนอน 3 ห้องน้ำ 1 ห้องอเนกประสงค์ 1 Pantry 2 ที่จอดรถ</span>
            <span class="mt-5">พื้นที่ใช้สอย 169 และ 196 ตารางเมตร บนขนาดที่ดิน 40.3 ตารางวาขึ้นไป</span>
        </div>
    </div>
</div>
<div class="row" style="background-color: rgb(207,181,146)">
    <div class="col-12 col-md-4">
        <img src="~/images/house/ratiromfifth/spec/snip_20180516033709_photoshopped-2.jpg" style="width:100%" />
    </div>
    <div class="col-12 col-md-8">
        <div class="row">
            <div class="col-12"></div>
        </div>
    </div>
</div>
<div class="section text-center">
    <div class="row">
        <h3 class="mt-5"><bold>ที่สุดแห่งความสะดวกสบาย</bold></h3>
        <div class="col-12 col-md-4" style="display:block;margin: 0px auto;">
            <img src="~/images/house/ratiromfifth/spec/Icon-การคมนาคม.png" style="width:160px" />
            <p class="mt-2">บ้านหลังใหม่สำหรับการเริ่มต้นครอบครัวที่อบอุ่น</p>
        </div>
        <div class="col-12 col-md-4" style="display:block;margin: 0px auto;">
            <img src="~/images/house/ratiromfifth/spec/Icon-การคมนาคม_B.png" style="width:160px" />
            <p class="mt-2">สะดวกด้วยระบบคมนาคมหลากหลาย</p>
        </div>
        <div class="col-12 col-md-4" style="display:block;margin: 0px auto;">
            <img src="~/images/house/ratiromfifth/spec/Icon-ห้างสรรพสินค้า_B.png" style="width:160px" />
            <p class="mt-2">รายล้อมด้วยแหล่งช้อปปิ้ง ห้างสรรพสินค้า ตลาด และ Villa Market</p>
        </div>
        <div class="col-12 col-md-1" style="display:block;margin: 0px auto;">
        </div>
        <div class="col-12 col-md-4" style="display:block;margin: 0px auto;">
            <img src="~/images/house/ratiromfifth/spec/Icon-Location_B.png" style="width:160px" />
            <p class="mt-2">ใกล้สถานศึกษา โรงพยาบาลชั้นนำ สถานที่ราชการ</p>
        </div>
        <div class="col-12 col-md-4" style="display:block;margin: 0px auto;">
            <img src="~/images/house/ratiromfifth/spec/Icon-พื้นที่สีเขียว-25-ไร่_B.png" style="width:160px" />
            <p class="mt-2">สงบ ร่มรื่น ท่ามกลางกลิ่นอายธรรมชาติ</p>
        </div>
        <div class="col-12 col-md-1" style="display:block;margin: 0px auto;">
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            <img src="~/images/house/ratiromfifth/spec/website_Ratirom-Fifth_2-banner.jpg" style="width:100%" />
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            <p>พื้นที่ใช้สอยเริ่มต้น 169 และ 196 ตร.ม. บนขนาดที่ดินเริ่มต้น 40.3 ตร.วา 3 ห้องนอน 3 ห้องน้ำ 1 ห้องอเนกประสงค์</p>
            <p>
                ใช้วัสดุคุณภาพสูง คำนึงถึงรูปแบบการใช้ชีวิตที่แตกต่างของแต่ละครอบครัวตามแนวคิด Flexible Living Space<br />
                พื้นที่ใช้งานกว้างขวาง หรูหรา และยืดหยุ่น            งานก่ออิฐฉาบปูนทั้งหลัง หมดปัญหาน้ำซึม และรอยต่อกวนใจ<br />
                ออกแบบด้วยแนวคิด Modern-Loft Plan เชื่อมต่อพื้นที่ในบ้านเข้าด้วยกัน ให้บ้านกว้างขวางน่าอยู่
            </p>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            <img src="~/images/house/ratiromfifth/spec/INTERIOR_MASTERBEDROOM_JPG-FILE_3-5-2018.jpg" style="width:100%" />
        </div>
    </div>
</div>
<div class="row text-center mt-5">
    <h5 class="maincolor"><bold>Floor Plan</bold></h5>
    <div class="row mt-3">
        <h5 class="text-center mt-3"><bold>บ้านแฝด</bold></h5>
        <div class="section">
            <div class="row">
                <div class="col-12 col-md-6">
                    <p class="text-center mt-3">
                        3 ห้องนอน 3 ห้องน้ำ 1 ห้องอเนกประสงค์<br />
                        พื้นที่ใช้สอย 169 ตารางเมตร
                    </p>
                    <p style="font-size:16px;">
                        ที่จอดรถในร่ม 2 คัน<br />
                        บานประตู หน้าต่างอลูมิเนียม หนาพิเศษ 1.5-2 มม.<br />
                        ห้องน้ำขนาดใหญ่ แยกส่วนเปียกและแห้ง พร้อมกระจกกั้น<br />
                        ครัวออกแบบเป็นสัดส่วน พร้อมเชื่อมต่อพื้นที่หลังบ้าน<br />
                        ออกแบบด้วยแนวคิด Modern-Loft Plan ให้บ้านกว้างขวางน่าอยู่<br />
                        Master Bedroom ขนาดใหญ่ มาพร้อมกับ กระจกสูง 2.4 เมตร สวยงามโอ่อ่า<br />
                        เพดานสูง 3 เมตร เสริมให้บ้านดูโล่ง โปร่งยิ่งขึ้น
                    </p>
                </div>
                <div class="col-12 col-md-6">
                    <img src="~/images/house/ratiromfifth/plan/b/03 บ้านเดี่ยว-บ้านแฝด_05 Ratirom Fifth_04 Floor Plan_02 บ้านเดี่ยว.png" style="width:100%" />
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3" style="background-color:rgb(227,219,212)">
        <h5 class="text-center mt-3"><bold>บ้านเดี่ยว</bold></h5>
        <div class="section">
            <div class="row">
                <div class="col-12 col-md-6">
                    <p class="text-center mt-3">
                        3 ห้องนอน 3 น้ำ 1 ห้องอเนกประสงค์<br />
                        พื้นที่ใช้สอย 196 ตารางเมตร
                    </p>
                    <p style="font-size:16px;">
                        ที่จอดรถในร่ม 2 คัน<br />
                        บานประตู หน้าต่างอลูมิเนียม หนาพิเศษ 1.5-2 มม.<br />
                        ห้องน้ำขนาดใหญ่ แยกส่วนเปียกและแห้ง พร้อมกระจกกั้น<br />
                        ครัวออกแบบเป็นสัดส่วน พร้อมเชื่อมต่อพื้นที่หลังบ้าน<br />
                        ออกแบบด้วยแนวคิด Modern-Loft Plan ให้บ้านกว้างขวางน่าอยู่<br />
                        Master Bedroom ขนาดใหญ่ มาพร้อมกับ กระจกสูง 2.4 เมตร สวยงามโอ่อ่า<br />
                        เพดานสูง 3 เมตร เสริมให้บ้านดูโล่ง โปร่งยิ่งขึ้น
                    </p>
                </div>
                <div class="col-12 col-md-6">
                    <img src="~/images/house/ratiromfifth/plan/a/03 บ้านเดี่ยว-บ้านแฝด_05 Ratirom Fifth_04 Floor Plan_01 บ้านแฝด.png" style="width:100%" />
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="background-color:rgb(227,219,212);margin: 0px;padding: 0px;">
        <div class="col-12">
            <img src="~/images/house/ratiromfifth/facility/Fa_1.jpg" style="width:100%" />
        </div>
    </div>
</div>
<div class="section">
    <div class="row mt-5 text-center" style="font-size:14px !important">
        <div class="col-md-2" style="display:block;margin: 0px auto;">
            <img src="~/images/house/ratiromfifth/facility/3.png" style="display:block;margin: 0px auto;width:90px" />
            <p class="mt-2">คลับเฮ้าส์ขนาดกลาง</p>
        </div>
        <div class="col-md-2" style="display:block;margin: 0px auto;">
            <img src="~/images/house/ratiromfifth/facility/5.png" style="display:block;margin: 0px auto;width:90px" />
            <p class="mt-2">ฟิตเนส</p>
        </div>
        <div class="col-md-2" style="display:block;margin: 0px auto;">
            <img src="~/images/house/ratiromfifth/facility/4.png" style="display:block;margin: 0px auto;width:90px" />
            <p class="mt-2">พื้นที่พักผ่อน สวนส่วนกลาง</p>
        </div>
        <div class="col-md-2" style="display:block;margin: 0px auto;">
            <img src="~/images/house/ratiromfifth/facility/1.png" style="display:block;margin: 0px auto;width:90px" />
            <p class="mt-2">ประตูรั้วทางเข้าโครงการ</p>
        </div>
        <div class="col-md-2" style="display:block;margin: 0px auto;">
            <img src="~/images/house/ratiromfifth/facility/2.png" style="display:block;margin: 0px auto;width:90px" />
            <p class="mt-2">รปภ. และ CCTV 24 ชั่วโมง</p>
        </div>
    </div>
</div>
<div class="row" style="background-color:rgb(243,243,243)">
    <div class="col-12 col-md-6">
        <img src="~/images/house/ratiromfifth/location/แผนที่รติรมย์ฟิฟท์-2.png" style="width:100%" />
    </div>
    <div class="col-12 col-md-6">
        <h3 class="maincolor text-center mt-2">Location</h3>
        <h3 class="text-center">RATIROM FIFTH</h3>
        <h3 class="text-center">ราชพฤกษ์ - ตลิ่งชัน</h3>
        <p>ทำเลศักยภาพ ล้อมรอบด้วย 5 ถนนหลัก ทั้งถนนราชพฤกษ์, ถนนนครอินทร์, ถนนกาญจนาภิเษก, ถนนบรมราชชนนี, ถนนพุทธมณฑลสาย 1  และใกล้ทางพิเศษศรีรัชฯ เชื่อมต่อสู่ใจกลางเมืองได้สะดวกและรวดเร็ว</p>
        <p>
            The Crystal SB/Gourmet ราชพฤกษ์<br />
            Home Pro & Villa Market<br />
            The Walk<br />
            Central Pinklao<br />
            The Circle<br />
        </p>
        <p>
            รพ. เจ้าพระยา<br />
            รพ. ศิริราช<br />
            รพ. พญาไท<br />
            รพ. ธนบุรี 2<br />
            สถานีขนส่งสายใต้ใหม่
        </p>
        <p>
            ร.ร.อนุบาลเด่นหล้า<br />
            ร.ร.จิตตเมตต์ (ปฐมวัย)<br />
            ร.ร.เพลินพัฒนา<br />
            ร.ร.นานาชาติ ร่วมฤดี ราชพฤกษ์<br />
            ร.ร.เทพศิรินทร์ นนทบุรี
        </p>
    </div>
</div>
<div class="row mt-3">
    <div class="col-12">
        <img src="~/images/house/ratiromfifth/gallery/Pic_6.jpg" style="width:100%" />
    </div>
    <h2 class="maincolor text-center">RATIROM FIFTH  Highlights</h2>
</div>
<hr />
