
<link rel="stylesheet" href="~/css/project.css" asp-append-version="true" />

<img class="pc" src="~/images/house/ratiromdeluxe/top banner/03 Home_06 Ratirom Deluxe_01 Top Banner_PC.jpg" style="width:100%" />
<img class="mobile" src="~/images/house/ratiromdeluxe/top banner/03 Home_06 Ratirom Deluxe_01 Top Banner_Mobile.jpg" style="width:100%" />

<div class="section text-center">
    <div class="row">
        <div class="row">
            <h3 class="mt-5" style="color:#0b54a3"><bold>บ้านเดี่ยว  Modern Contemporary</bold></h3>
            <span class="mt-5">
                ผสมผสานรูปแบบชีวิตทันสมัยกับบรรยากาศอบอุ่นอย่างลงตัว พร้อมระบบ Smart Home และนวัตกรรมประตูอัตโนมัติมาตรฐานระบบจากอเมริกา ตอบโจทย์การใช้ชีวิตยุคใหม่ ให้ "บ้าน" เป็นพื้นที่ของความสบายใจ และปลอดภัยที่สุดของคุณและคนที่คุณรัก
            </span>
            <h5 class="mt-5 mb-5" style="color:#0b54a3"><bold>เพียง 26 หลัง เริ่มต้น 50 ตารางวา</bold></h5>
            <hr />
            <h3 class="mt-4" style="color:#0b54a3"><bold>ลงทะเบียนรับส่วนลด</bold></h3>
            <h4 class="mt-2" style="color:#0b54a3"><bold>10,000 บาท</bold></h4>
            <p class="mt-5">สอบถามข้อมูลเพิ่มเติม <bold style="color:#0b54a3">086-6077033</bold></p>
        </div>
    </div>
</div>
<div class="row text-center mt-5">
    <img src="~/images/house/ratiromfifth/banner house/03 Home_05 Ratirom Fifth_01 Banner 2_PC.jpg" style="width:100%" />
    <h4 class="maincolor mt-5"><bold>ที่สุดแห่งความสะดวกสบาย</bold></h4>
    <div class="col-12 mt-4">
        <!--Nav pills-->
        <ul class="nav nav-pills nav-justified" role="tablist">
            <li class="nav-item">
                <a class="nav-link custom-tab active" data-bs-toggle="pill" href="#exclusive1"><strong>Exclusively Prime</strong></a>
            </li>
            <li class="nav-item">
                <a class="nav-link custom-tab" data-bs-toggle="pill" href="#exclusive2"><strong>Exclusively Private</strong></a>
            </li>
            <li class="nav-item">
                <a class="nav-link custom-tab" data-bs-toggle="pill" href="#exclusive3"><strong>Exclusively Smart</strong></a>
            </li>
        </ul>
    </div>
    <!--tab panes-->
    <div class="tab-content">
        <div id="exclusive1" class="image-container tab-pane active" style="height:270px !important">
            <div class="row mt-5">
                <div class="col-12 col-md-2"></div>
                <div class="col-12 col-md-2" style="display:block;margin: 0px auto;">
                    <img src="~/images/house/ratiromfifth/spec/Icon-การคมนาคม_B.png" style="width:200px" />
                    <p class="text-center mt-2" style="font-size:16px;color:#000">สะดวกด้วยระบบคมนาคมหลากหลาย</p>
                </div>
                <div class="col-12 col-md-2" style="display:block;margin: 0px auto;">
                    <img src="~/images/house/ratiromfifth/spec/Icon-ห้างสรรพสินค้า_B.png" style="width:200px" />
                    <p class="text-center mt-2" style="font-size:16px;color:#000">รายล้อมด้วยแหล่งช้อปปิ้ง ตลาด และห้างสรรพสินค้า</p>
                </div>
                <div class="col-12 col-md-2" style="display:block;margin: 0px auto;">
                    <img src="~/images/house/ratiromfifth/spec/Icon-Location_B.png" style="width:200px" />
                    <p class="text-center mt-2" style="font-size:16px;color:#000">ใกล้สถานศึกษา โรงพยาบาลชั้นนำ สถานที่ราชการ</p>
                </div>
                <div class="col-12 col-md-2" style="display:block;margin: 0px auto;">
                    <img src="~/images/house/ratiromfifth/spec/Icon-พื้นที่สีเขียว-25-ไร่_B.png" style="width:200px" />
                    <p class="text-center mt-2" style="font-size:16px;color:#000">สงบ ร่มรื่น ท่ามกลางกลิ่นอายธรรมชาติ</p>
                </div>
                <div class="col-12 col-md-2"></div>
            </div>
        </div>
        <div id="exclusive2" class="image-container tab-pane fade" style="height:270px !important">
            <div class="row mt-5">
                <div class="col-12 col-md-3"></div>
                <div class="col-12 col-md-2" style="display:block;margin: 0px auto;">
                    <img src="~/images/house/ratiromdeluxe/exclusivelyprivate/Icon-01.png" style="display:block;margin: 0px auto;width:150px" />
                    <p class="text-center mt-3" style="font-size:16px;color:#564f45">
                        <bold style="font-size:18px">Private</bold><br />
                        สังคมขนาดเล็กเพียง 26 หลัง<br />
                        มีความเป็นส่วนตัว
                    </p>
                </div>
                <div class="col-12 col-md-2" style="display:block;margin: 0px auto;">
                    <img src="~/images/house/ratiromdeluxe/exclusivelyprivate/Icon-02.png" style="display:block;margin: 0px auto;width:150px" />
                    <p class="text-center mt-3" style="font-size:16px;color:#564f45">
                        <bold style="font-size:18px">Spacious Space</bold><br />
                        พื้นที่ใช้สอยขนาดใหญ่ 219 ตารางเมตร<br />
                        บนที่ดินเริ่มต้นถึง 50 ตารางวา
                    </p>
                </div>
                <div class="col-12 col-md-2" style="display:block;margin: 0px auto;">
                    <img src="~/images/house/ratiromdeluxe/exclusivelyprivate/Icon-03.png" style="display:block;margin: 0px auto;width:150px" />
                    <p class="text-center mt-3" style="font-size:16px;color:#564f45">
                        <bold style="font-size:18px">Spacious Bathroom</bold><br />
                        ดีไซน์ห้องน้ำกว้าง แยกส่วน<br />
                        เปียก-แห้ง พร้อมกระจกกั้น
                    </p>
                </div>
                <div class="col-12 col-md-3"></div>
            </div>
        </div>
        <div id="exclusive3" class="image-container tab-pane fade" style="height:270px !important">
            <div class="row mt-5">
                <div class="col-12 col-md-2"></div>
                <div class="col-12 col-md-2" style="display:block;margin: 0px auto;">
                    <img src="~/images/house/ratiromdeluxe/exclusivelysmart/Icon Smart-02.png" style="width:150px" />
                    <p class="text-center mt-2" style="font-size:16px;color:#000">สะดวกด้วยระบบคมนาคมหลากหลาย</p>
                </div>
                <div class="col-12 col-md-2" style="display:block;margin: 0px auto;">
                    <img src="~/images/house/ratiromdeluxe/exclusivelysmart/Icon Smart-03.png" style="width:150px" />
                    <p class="text-center mt-2" style="font-size:16px;color:#000">รายล้อมด้วยแหล่งช้อปปิ้ง ตลาด และห้างสรรพสินค้า</p>
                </div>
                <div class="col-12 col-md-2" style="display:block;margin: 0px auto;">
                    <img src="~/images/house/ratiromdeluxe/exclusivelysmart/Icon Smart-04.png" style="width:150px" />
                    <p class="text-center mt-2" style="font-size:16px;color:#000">ใกล้สถานศึกษา โรงพยาบาลชั้นนำ สถานที่ราชการ</p>
                </div>
                <div class="col-12 col-md-2" style="display:block;margin: 0px auto;">
                    <img src="~/images/house/ratiromdeluxe/exclusivelysmart/Icon Smart-05.png" style="width:150px" />
                    <p class="text-center mt-2" style="font-size:16px;color:#000">สงบ ร่มรื่น ท่ามกลางกลิ่นอายธรรมชาติ</p>
                </div>
                <div class="col-12 col-md-2"></div>
            </div>
        </div>
    </div>
</div>
<div class="row mt-5">
    <img src="~/images/house/ratiromdeluxe/banner/Ratirom Deluxe - Home Pic - Test.jpg" style="width:100%" />
</div>
<div class="row text-center mt-5">
    <h4 class="maincolor"><bold>Floor Plan</bold></h4>
    <div class="col-12">
        <!--Nav pills-->
        <ul class="nav nav-pills nav-justified" role="tablist">
            <li class="nav-item">
                <a class="nav-link custom-tab active" data-bs-toggle="pill" href="#rd-detachedhouse"><strong>PRISTIGE</strong></a>
            </li>
            <li class="nav-item">
                <a class="nav-link custom-tab" data-bs-toggle="pill" href="#rd-house"><strong>ELEGANCE</strong></a>
            </li>
        </ul>
    </div>
    <!--tab panes-->
    <div class="tab-content">
        <div id="rd-detachedhouse" class="image-container tab-pane active">
            <div class="row">
                <div class="col-6">
                    <img src="~/images/house/ratiromdeluxe/floorplan/Home_Prestige.png" style="width:100%" />
                </div>
                <div class="col-6">
                    <p class="text-center mt-3" style="padding-top:10%;font-size:16px;color: #0b54a3">
                        <strong>บ้านแฝด</strong><br />
                        <strong>4 ห้องนอน 3 ห้องน้ำ</strong>
                    </p>
                    <p class="text-center mt-3" style="font-size:16px;color: #000">
                        1 ส่วนรับแขก 1 ส่วนทานอาหาร พร้อมครัวไทย/ซักล้าง<br />
                        และห้องเก็บของ 2 ที่จอดรถ พร้อมประตูรั้วบ้านรีโมทไฟฟ้า
                    </p>
                    <p style="font-size:16px;color: #000">
                        พื้นที่ใช้สอย 209 ตารางเมตร | เนื้อที่เริ่มต้น 45 ตารางวา 
                    </p>
                </div>
            </div>
        </div>
        <div id="rd-house" class="image-container tab-pane fade">
            <div class="row">
                <div class="col-6">
                    <img src="~/images/house/ratiromdeluxe/floorplan/Home_Elegance.png" style="width:100%" />
                </div>
                <div class="col-6">
                    <p class="text-center mt-3" style="padding-top:10%;font-size:16px;color: #0b54a3">
                        <strong>บ้านเดี่ยว</strong><br />
                        <strong>4 ห้องนอน 3 ห้องน้ำ</strong>
                    </p>
                    <p class="text-center mt-3" style="font-size:16px;color: #000">
                        1 ส่วนรับแขก 1 ส่วนทานอาหาร พร้อมครัวไทย/ซักล้าง<br />
                        และห้องเก็บของ 2 ที่จอดรถ พร้อมประตูรั้วบ้านรีโมทไฟฟ้า
                    </p>
                    <p style="font-size:16px;color: #000">
                        พื้นที่ใช้สอย 219 ตารางเมตร | เนื้อที่เริ่มต้น 50 ตารางวา
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section mt-5"><hr /></div>
<div class="row mt-5">
    <div class="col-12">
        <h4 class="maincolor text-center"><bold>ทำเลที่ตั้ง</bold></h4>
        <div class="section mt-4"><p class="text-center">ทำเลศักยภาพ รายล้อมด้วยสิ่งอำนวยความสะดวกทั้งห้างสรรพสินค้า โรงพยาบาล และสถาบันการศึกษา เชื่อมต่อถนนหลักทั้งถนนราชพฤกษ์ ถนนกาญจนาภิเษก ถนนนครอินทร์ ถนนบรมราชชนนี และใกล้ทางพิเศษศรีรัชฯ เชื่อมต่อสู่ใจกลางเมืองได้อย่างรวดเร็ว</p></div>
        <!--Nav pills-->
        <ul class="nav nav-pills nav-justified" role="tablist">
            <li class="nav-item">
                <a class="nav-link custom-tab active" data-bs-toggle="pill" href="#ratchaphruek"><strong>ถนนราชพฤกษ์</strong></a>
            </li>
            <li class="nav-item">
                <a class="nav-link custom-tab" data-bs-toggle="pill" href="#kanchanaphisek"><strong>ถนนกาญจนาภิเษก</strong></a>
            </li>
            <li class="nav-item">
                <a class="nav-link custom-tab" data-bs-toggle="pill" href="#nakhonin"><strong>ถนนนครอินทร์</strong></a>
            </li>
            <li class="nav-item">
                <a class="nav-link custom-tab" data-bs-toggle="pill" href="#borommaratchachonnani"><strong>ถนนบรมราชชนนี</strong></a>
            </li>
            <li class="nav-item">
                <a class="nav-link custom-tab" data-bs-toggle="pill" href="#other"><strong>การเดินทาง</strong></a>
            </li>
        </ul>
        <!--tab panes-->
        <div class="tab-content">
            <div id="ratchaphruek" class="image-container tab-pane active">
                <br />
                <div class="row mt-4">
                    <div class="col-12 col-md-2">
                        <div class="row" style="display:block;margin: 0px auto;border:solid 4px #dfd3cb;background-color: #bea594;background-image: linear-gradient(135deg, #bea594 0%,#dfd3cb 67%);height:120px;width:120px;border-radius:100px">
                            <p class="text-center" style="padding-top:25%;font-size:16px">
                                <bold style="padding-top:50%;font-size:26px;color: #564f45">4.7</bold><br /><bold style="padding-top:50%;font-size:18px;color: #564f45">กม.</bold>
                            </p>
                        </div>
                        <br />
                        <div class="row">
                            <p class="text-center" style="font-size:16px;color: #000">
                                เดอะคริสตัล เอสบี<br />
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-md-2">
                        <div class="row" style="display:block;margin: 0px auto;border:solid 4px #dfd3cb;background-color: #bea594;background-image: linear-gradient(135deg, #bea594 0%,#dfd3cb 67%);height:120px;width:120px;border-radius:100px">
                            <p class="text-center" style="padding-top:25%;font-size:16px">
                                <bold style="padding-top:50%;font-size:26px;color: #564f45">5.1</bold><br /><bold style="padding-top:50%;font-size:18px;color: #564f45">กม.</bold>
                            </p>
                        </div>
                        <br />
                        <div class="row">
                            <p class="text-center" style="font-size:16px;color: #000">
                                โฮมโปร<br />
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-md-2">
                        <div class="row" style="display:block;margin: 0px auto;border:solid 4px #dfd3cb;background-color: #bea594;background-image: linear-gradient(135deg, #bea594 0%,#dfd3cb 67%);height:120px;width:120px;border-radius:100px">
                            <p class="text-center" style="padding-top:25%;font-size:16px">
                                <bold style="padding-top:50%;font-size:26px;color: #564f45">6.4</bold><br /><bold style="padding-top:50%;font-size:18px;color: #564f45">กม.</bold>
                            </p>
                        </div>
                        <br />
                        <div class="row">
                            <p class="text-center" style="font-size:16px;color: #000">
                                เดอะวอล์ค<br />
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-md-2">
                        <div class="row" style="display:block;margin: 0px auto;border:solid 4px #dfd3cb;background-color: #bea594;background-image: linear-gradient(135deg, #bea594 0%,#dfd3cb 67%);height:120px;width:120px;border-radius:100px">
                            <p class="text-center" style="padding-top:25%;font-size:16px">
                                <bold style="padding-top:50%;font-size:26px;color: #564f45">3.9</bold><br /><bold style="padding-top:50%;font-size:18px;color: #564f45">กม.</bold>
                            </p>
                        </div>
                        <br />
                        <div class="row">
                            <p class="text-center" style="font-size:16px;color: #000">
                                บ้านแอนด์บียอนด์<br />
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-md-2">
                        <div class="row" style="display:block;margin: 0px auto;border:solid 4px #dfd3cb;background-color: #bea594;background-image: linear-gradient(135deg, #bea594 0%,#dfd3cb 67%);height:120px;width:120px;border-radius:100px">
                            <p class="text-center" style="padding-top:25%;font-size:16px">
                                <bold style="padding-top:50%;font-size:26px;color: #564f45">10.6</bold><br /><bold style="padding-top:50%;font-size:18px;color: #564f45">กม.</bold>
                            </p>
                        </div>
                        <br />
                        <div class="row">
                            <p class="text-center" style="font-size:16px;color: #000">
                                ฟู้ดวิลล่า<br />
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-md-2">
                        <div class="row" style="display:block;margin: 0px auto;border:solid 4px #dfd3cb;background-color: #bea594;background-image: linear-gradient(135deg, #bea594 0%,#dfd3cb 67%);height:120px;width:120px;border-radius:100px">
                            <p class="text-center" style="padding-top:25%;font-size:16px">
                                <bold style="padding-top:50%;font-size:26px;color: #564f45">10.6</bold><br /><bold style="padding-top:50%;font-size:18px;color: #564f45">กม.</bold>
                            </p>
                        </div>
                        <br />
                        <div class="row">
                            <p class="text-center" style="font-size:16px;color: #000">
                                เดอะเซอร์เคิล<br />
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="kanchanaphisek" class="image-container tab-pane fade">
                <br />
                <div class="row mt-4">
                    <div class="col-12 col-md-1">
                    </div>
                    <div class="col-12 col-md-2">
                        <div class="row" style="display:block;margin: 0px auto;border:solid 4px #dfd3cb;background-color: #bea594;background-image: linear-gradient(135deg, #bea594 0%,#dfd3cb 67%);height:120px;width:120px;border-radius:100px">
                            <p class="text-center" style="padding-top:25%;font-size:16px">
                                <bold style="padding-top:50%;font-size:26px;color: #564f45">2.9</bold><br /><bold style="padding-top:50%;font-size:18px;color: #564f45">กม.</bold>
                            </p>
                        </div>
                        <br />
                        <div class="row">
                            <p class="text-center" style="font-size:16px;color: #000">
                                รร.เทพศิรินทร์นนทบุรี<br />
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-md-2">
                        <div class="row" style="display:block;margin: 0px auto;border:solid 4px #dfd3cb;background-color: #bea594;background-image: linear-gradient(135deg, #bea594 0%,#dfd3cb 67%);height:120px;width:120px;border-radius:100px">
                            <p class="text-center" style="padding-top:25%;font-size:16px">
                                <bold style="padding-top:50%;font-size:26px;color: #564f45">5.7</bold><br /><bold style="padding-top:50%;font-size:18px;color: #564f45">กม.</bold>
                            </p>
                        </div>
                        <br />
                        <div class="row">
                            <p class="text-center" style="font-size:16px;color: #000">
                                โลตัสบางใหญ่ (พลัสมอลล์)<br />
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-md-2">
                        <div class="row" style="display:block;margin: 0px auto;border:solid 4px #dfd3cb;background-color: #bea594;background-image: linear-gradient(135deg, #bea594 0%,#dfd3cb 67%);height:120px;width:120px;border-radius:100px">
                            <p class="text-center" style="padding-top:25%;font-size:16px">
                                <bold style="padding-top:50%;font-size:26px;color: #564f45">11.8</bold><br /><bold style="padding-top:50%;font-size:18px;color: #564f45">กม.</bold>
                            </p>
                        </div>
                        <br />
                        <div class="row">
                            <p class="text-center" style="font-size:16px;color: #000">
                                เซ็นทรัลเวสต์เกต<br />
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-md-2">
                        <div class="row" style="display:block;margin: 0px auto;border:solid 4px #dfd3cb;background-color: #bea594;background-image: linear-gradient(135deg, #bea594 0%,#dfd3cb 67%);height:120px;width:120px;border-radius:100px">
                            <p class="text-center" style="padding-top:25%;font-size:16px">
                                <bold style="padding-top:50%;font-size:26px;color: #564f45">11.8</bold><br /><bold style="padding-top:50%;font-size:18px;color: #564f45">กม.</bold>
                            </p>
                        </div>
                        <br />
                        <div class="row">
                            <p class="text-center" style="font-size:16px;color: #000">
                                อิเกียบางใหญ่<br />
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-md-2">
                        <div class="row" style="display:block;margin: 0px auto;border:solid 4px #dfd3cb;background-color: #bea594;background-image: linear-gradient(135deg, #bea594 0%,#dfd3cb 67%);height:120px;width:120px;border-radius:100px">
                            <p class="text-center" style="padding-top:25%;font-size:16px">
                                <bold style="padding-top:50%;font-size:26px;color: #564f45">12.7</bold><br /><bold style="padding-top:50%;font-size:18px;color: #564f45">กม.</bold>
                            </p>
                        </div>
                        <br />
                        <div class="row">
                            <p class="text-center" style="font-size:16px;color: #000">
                                รพ.เกษมราษฎร์รัตนาธิเบศร์<br />
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="nakhonin" class="image-container tab-pane fade">
                <br />
                <div class="row mt-4">
                    <div class="col-12 col-md-2"></div>
                    <div class="col-12 col-md-2">
                        <div class="row" style="display:block;margin: 0px auto;border:solid 4px #dfd3cb;background-color: #bea594;background-image: linear-gradient(135deg, #bea594 0%,#dfd3cb 67%);height:120px;width:120px;border-radius:100px">
                            <p class="text-center" style="padding-top:25%;font-size:16px">
                                <bold style="padding-top:50%;font-size:26px;color: #564f45">4.7</bold><br /><bold style="padding-top:50%;font-size:18px;color: #564f45">กม.</bold>
                            </p>
                        </div>
                        <br />
                        <div class="row">
                            <p class="text-center" style="font-size:16px;color: #000">
                                ตลาดพระราม 5<br />
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-md-1"></div>
                    <div class="col-12 col-md-2">
                        <div class="row" style="display:block;margin: 0px auto;border:solid 4px #dfd3cb;background-color: #bea594;background-image: linear-gradient(135deg, #bea594 0%,#dfd3cb 67%);height:120px;width:120px;border-radius:100px">
                            <p class="text-center" style="padding-top:25%;font-size:16px">
                                <bold style="padding-top:50%;font-size:26px;color: #564f45">4.2</bold><br /><bold style="padding-top:50%;font-size:18px;color: #564f45">กม.</bold>
                            </p>
                        </div>
                        <br />
                        <div class="row">
                            <p class="text-center" style="font-size:16px;color: #000">
                                รร.อนุบาลเด่นหล้า<br />
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-md-1"></div>
                    <div class="col-12 col-md-2">
                        <div class="row" style="display:block;margin: 0px auto;border:solid 4px #dfd3cb;background-color: #bea594;background-image: linear-gradient(135deg, #bea594 0%,#dfd3cb 67%);height:120px;width:120px;border-radius:100px">
                            <p class="text-center" style="padding-top:25%;font-size:16px">
                                <bold style="padding-top:50%;font-size:26px;color: #564f45">5.5</bold><br /><bold style="padding-top:50%;font-size:18px;color: #564f45">กม.</bold>
                            </p>
                        </div>
                        <br />
                        <div class="row">
                            <p class="text-center" style="font-size:16px;color: #000">
                                รร.นานาชาติดราก้อน<br />
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="borommaratchachonnani" class="image-container tab-pane fade">
                <br />
                <div class="row mt-4">
                    <div class="col-12 col-md-2"></div>
                    <div class="col-12 col-md-2">
                        <div class="row" style="display:block;margin: 0px auto;border:solid 4px #dfd3cb;background-color: #bea594;background-image: linear-gradient(135deg, #bea594 0%,#dfd3cb 67%);height:120px;width:120px;border-radius:100px">
                            <p class="text-center" style="padding-top:25%;font-size:16px">
                                <bold style="padding-top:50%;font-size:26px;color: #564f45">6.6</bold><br /><bold style="padding-top:50%;font-size:18px;color: #564f45">กม.</bold>
                            </p>
                        </div>
                        <br />
                        <div class="row">
                            <p class="text-center" style="font-size:16px;color: #000">
                                รพ.ธนบุรี 2<br />
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-md-1"></div>
                    <div class="col-12 col-md-2">
                        <div class="row" style="display:block;margin: 0px auto;border:solid 4px #dfd3cb;background-color: #bea594;background-image: linear-gradient(135deg, #bea594 0%,#dfd3cb 67%);height:120px;width:120px;border-radius:100px">
                            <p class="text-center" style="padding-top:25%;font-size:16px">
                                <bold style="padding-top:50%;font-size:26px;color: #564f45">11.9</bold><br /><bold style="padding-top:50%;font-size:18px;color: #564f45">กม.</bold>
                            </p>
                        </div>
                        <br />
                        <div class="row">
                            <p class="text-center" style="font-size:16px;color: #000">
                                เซ็นทรัลปิ่นเกล้า<br />
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-md-1"></div>
                    <div class="col-12 col-md-2">
                        <div class="row" style="display:block;margin: 0px auto;border:solid 4px #dfd3cb;background-color: #bea594;background-image: linear-gradient(135deg, #bea594 0%,#dfd3cb 67%);height:120px;width:120px;border-radius:100px">
                            <p class="text-center" style="padding-top:25%;font-size:16px">
                                <bold style="padding-top:50%;font-size:26px;color: #564f45">13.1</bold><br /><bold style="padding-top:50%;font-size:18px;color: #564f45">กม.</bold>
                            </p>
                        </div>
                        <br />
                        <div class="row">
                            <p class="text-center" style="font-size:16px;color: #000">
                                รพ.เจ้าพระยา<br />
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="other" class="image-container tab-pane fade">
                <br />
                <div class="row mt-4">
                    <div class="col-1"></div>
                    <div class="col-2">
                        <div class="row" style="display:block;margin: 0px auto;border:solid 4px #dfd3cb;background-color: #bea594;background-image: linear-gradient(135deg, #bea594 0%,#dfd3cb 67%);height:120px;width:120px;border-radius:100px">
                            <p class="text-center" style="padding-top:25%;font-size:16px">
                                <bold style="padding-top:50%;font-size:26px;color: #564f45">5.6</bold><br /><bold style="padding-top:50%;font-size:18px;color: #564f45">กม.</bold>
                            </p>
                        </div>
                        <br />
                        <div class="row">
                            <p class="text-center" style="font-size:16px;color: #000">
                                ทางด่วนศรีรัชฯ<br />(ด่านตลิ่งชัน)
                            </p>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="row" style="display:block;margin: 0px auto;border:solid 4px #dfd3cb;background-color: #bea594;background-image: linear-gradient(135deg, #bea594 0%,#dfd3cb 67%);height:120px;width:120px;border-radius:100px">
                            <p class="text-center" style="padding-top:25%;font-size:16px">
                                <bold style="padding-top:50%;font-size:26px;color: #564f45">5.5</bold><br /><bold style="padding-top:50%;font-size:18px;color: #564f45">กม.</bold>
                            </p>
                        </div>
                        <br />
                        <div class="row">
                            <p class="text-center" style="font-size:16px;color: #000">
                                ทางด่วนศรีรัชฯ<br />(ด่านฉิมพลี)
                            </p>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="row" style="display:block;margin: 0px auto;border:solid 4px #dfd3cb;background-color: #bea594;background-image: linear-gradient(135deg, #bea594 0%,#dfd3cb 67%);height:120px;width:120px;border-radius:100px">
                            <p class="text-center" style="padding-top:25%;font-size:16px">
                                <bold style="padding-top:50%;font-size:26px;color: #564f45">4.8</bold><br /><bold style="padding-top:50%;font-size:18px;color: #564f45">กม.</bold>
                            </p>
                        </div>
                        <br />
                        <div class="row">
                            <p class="text-center" style="font-size:16px;color: #000">
                                รถไฟฟ้าสายสีแดงอ่อน<br />สถานีตลิ่งชัน
                            </p>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="row" style="display:block;margin: 0px auto;border:solid 4px #dfd3cb;background-color: #bea594;background-image: linear-gradient(135deg, #bea594 0%,#dfd3cb 67%);height:120px;width:120px;border-radius:100px">
                            <p class="text-center" style="padding-top:25%;font-size:16px">
                                <bold style="padding-top:50%;font-size:26px;color: #564f45">13.7</bold><br /><bold style="padding-top:50%;font-size:18px;color: #564f45">กม.</bold>
                            </p>
                        </div>
                        <br />
                        <div class="row">
                            <p class="text-center" style="font-size:16px;color: #000">
                                รถไฟฟ้าสายสีเขียวอ่อน<br />สถานีบางหว้า
                            </p>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="row" style="display:block;margin: 0px auto;border:solid 4px #dfd3cb;background-color: #bea594;background-image: linear-gradient(135deg, #bea594 0%,#dfd3cb 67%);height:120px;width:120px;border-radius:100px">
                            <p class="text-center" style="padding-top:25%;font-size:16px">
                                <bold style="padding-top:50%;font-size:26px;color: #564f45">8</bold><br /><bold style="padding-top:50%;font-size:18px;color: #564f45">กม.</bold>
                            </p>
                        </div>
                        <br />
                        <div class="row">
                            <p class="text-center" style="font-size:16px;color: #000">
                                สถานีขนส่งสายใต้ใหม่<br />
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mt-4" style="background-color:#dfd3cb">
    <div class="col-12 col-md-12">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3874.4631629680794!2d100.42914991506676!3d13.811204099634597!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30e2910247e63b6b%3A0x4aeb34b642e741a7!2zUmF0aXJvbSBEZWx1eGUgKOC4q-C4oeC4ueC5iOC4muC5ieC4suC4mSDguKPguJXguLTguKPguKHguKLguYwg4LiU4Li14Lil4Lix4LiB4LiL4LmMKQ!5e0!3m2!1sth!2sth!4v1663152099554!5m2!1sth!2sth" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <div class="mt-2"></div>
        <a href="https://goo.gl/maps/RC1rLWnXGwcBgcfD8">
            <h4 class="text-center" style="font-size:16px;color: #000">แผนที่ Google</h4>
        </a>
    </div>
</div>
<div class="row mt-5">
    <div class="col-12">
        <h4 class="maincolor text-center"><bold>Gallery</bold></h4>
    </div>
    <h4 class="maincolor text-center"><bold>RATIROM DELUXE HIGHLIGHTS</bold></h4>
</div>
<hr />
