<link rel="stylesheet" href="~/css/project.css" asp-append-version="true" />

<img class="pc" src="~/images/house/ratiromdeluxe/top banner/03 Home_06 Ratirom Deluxe_01 Top Banner_PC.jpg" style="width:100%" />
<img class="mobile" src="~/images/house/ratiromdeluxe/top banner/03 Home_06 Ratirom Deluxe_01 Top Banner_Mobile.jpg" style="width:100%" />

<div class="section text-center">
    <div class="row">
        <div class="col-12">
            <h4 class="mt-5">บ้านเดี่ยวหลังใหญ่บนที่ดินแปลงสวย</h4>
            <span>
                ให้ทุกนาทีสะท้อนความภาคภูมิใจของคุณ<br />
                <strong>"Make every minute worthwhile"</strong>
            </span>
            <hr />
            <span>
                พื้นที่โครงการ 73 ไร่ 3 งาน 21.7 ตารางวา<br />
                บ้านเดี่ยว2 ชั้น 2 ชั้น 3 ห้องนอน 3 ห้องน้ำ 2 ที่จอดรถ<br />
                พื้นที่ใช้สอย 180 และ 200 ตารางเมตร บนขนาดที่ดิน 52 ตารางวาขึ้นไป
            </span>
        </div>
    </div>
</div>