<link rel="stylesheet" href="~/css/project.css" asp-append-version="true" />

<img class="pc" src="~/images/house/ratiromdeluxe/top banner/03 Home_06 Ratirom Deluxe_01 Top Banner_PC.jpg" style="width:100%" />
<img class="mobile" src="~/images/house/ratiromdeluxe/top banner/03 Home_06 Ratirom Deluxe_01 Top Banner_Mobile.jpg" style="width:100%" />

<div class="section text-center">
    <div class="row">
        <div class="col-12">
            <h4 class="mt-5">ตอบโจทย์ความฝันของคุณ</h4>
            <span>
                ด้วยบ้านหลังใหญ่เปี่ยมคุณภาพจากดรีมแลนด์ พร๊อพเพอร์ตี้<br />
                " Endless Dream "
            </span>
            <hr />
            <span>
                พื้นที่โครงการ 40 ไร่ 2 งาน 20.9 ตารางวา<br />
                บ้านเดี่ยว2 ชั้น 2 ชั้น 3 ห้องนอน 3 ห้องน้ำ 2 ที่จอดรถ พื้นที่ใช้สอย 141 ตารางเมตร บนขนาดที่ดิน 52 ตารางวาขึ้นไป
            </span>
        </div>
    </div>
</div>