<link rel="stylesheet" href="~/css/project.css" asp-append-version="true" />

<img class="pc" src="~/images/house/ratiromdeluxe/top banner/03 Home_06 Ratirom Deluxe_01 Top Banner_PC.jpg" style="width:100%" />
<img class="mobile" src="~/images/house/ratiromdeluxe/top banner/03 Home_06 Ratirom Deluxe_01 Top Banner_Mobile.jpg" style="width:100%" />

<div class="section text-center">
    <div class="row">
        <div class="col-12">
            <h4 class="mt-5">บ้านบรรยากาศในสวน รายล้อมไปด้วยต้นไม้ใหญ่ ร่มรื่นดุจอยู่ใจกลางธรรมชาติ</h4>
            <span>
                ตัวบ้านออกแบบให้มีขนาดใหญ่พิเศษ เพิ่มพื้นที่ความโปร่ง สบาย ก่อสร้างด้วยมาตรฐานสูงตามแบบฉบับ<br />
                ของดรีมแลนด์ พร๊อพเพอร์ตี้….ให้ทุกวันของคุณ เป็นเสมือนการพักผ่อน<br />
                "Make Everyday feel like Vacation“<br />
            </span>
            <hr />
            <span>
                พื้นที่โครงการ 32 ไร่ 1 งาน 66.6 ตารางวา<br />
                บ้านเดี่ยว/บ้านแฝด 2 ชั้น 3-4 ห้องนอน 3 ห้องน้ำ 2 ที่จอดรถ พื้นที่ใช้สอย 180 และ 200 ตารางเมตร บนขนาดที่ดิน 36 ตารางวาขึ้นไป
            </span>
        </div>
    </div>
</div>