<link rel="stylesheet" href="~/css/dreamlandkingdom.css" asp-append-version="true" />
<link rel="stylesheet" href="~/scss/timeline.scss" asp-append-version="true" />

<div id="carouselCaptions" class="carousel slide" data-bs-ride="carousel"  data-bs-interval="10000">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="pc" src="/images/dreamlandkingdom/06 Legacy_03 DL Kingdom_Header PC_Dream Priva_20220723.jpg" style="width:100%;height:600px" />
            <img class="mobile" src="/images/dreamlandkingdom/06 Legacy_03 DL Kingdom_Header Mobile-DP.jpg" />
        </div>
        <div class="carousel-item">
            <img class="pc" src="/images/dreamlandkingdom/06 Legacy_03 DL Kingdom_Header PC_Dream Deluxe_20220723.jpg" style="width:100%;height:600px" />
            <img class="mobile" src="/images/dreamlandkingdom/06 Legacy_03 DL Kingdom_Header Mobile-DP.jpg" />
        </div>
        <div class="carousel-item">
            <img class="pc" src="/images/dreamlandkingdom/06 Legacy_03 DL Kingdom_Header PC_Ratirom Fifth_20220723.jpg" style="width:100%;height:600px" />
            <img class="mobile" src="/images/dreamlandkingdom/06 Legacy_03 DL Kingdom_Header Mobile-RF.jpg" />
        </div>
    </div>
</div>

<div class="section">
    <div class="row mt-5" style="margin-left:0px;margin-right:0px;">
        <div class="col-12 text-center text-muted">
            <span>เรื่องราวของ ‘อาณาจักรแห่งฝัน’ แห่งนี้เริ่มขึ้นกว่า 25 ปีก่อน จากจุดเล็กๆของประธานบริษัทที่เข้าใจในความสุขของคนที่มี “บ้าน” ในฐานะศูนย์รวมของบุคคลและสิ่งสำคัญอันเป็นที่รักที่พักพิงในชีวิต สู่แรงบันดาลใจที่ประกอบไปด้วยความมุ่งมั่นและตั้งใจที่ต้องการส่งต่อความสุขนี้ ด้วยการสร้างบ้านในฝัน ที่มีคุณภาพดีเยี่ยมในราคาที่จับต้องได้ให้ทุกคนได้เป็นเจ้าของ ดั่งปณิธานของบริษัทที่ประธานเคยกล่าวว่า</span>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12 text-center text-muted">
            <h4>“เราจะสร้างบ้านทุกหลัง ให้เหมือนกับเป็นบ้านของเราเอง”</h4>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12 text-center text-muted">
            <span>จากวันที่ บริษัท ดรีมแลนด์ พร๊อพเพอร์ตี้ ได้เริ่มต้นขึ้นและค้นพบผืนดินศักยภาพแห่งแรกเมื่อ ปี พ.ศ.2540 เพื่อนำมาพัฒนา ในละแวก ชุมชนเล็กๆ ย่านบางกรวย จังหวัดนนทบุรี จวบจนปัจจุบันนี้  เราได้สร้างบ้านในฝันด้วยความมุ่งมั่นและตั้งใจแล้ว บนที่ดินรวมกว่า 420 ไร่และ เป็นอีกกำลังสำคัญในการพัฒนาชุมชมโดยรอบให้เจริญรุ่งเรื่อง ด้วยชุมชนที่ใหญ่ขึ้นและเปี่ยมไปด้วยความสุข และรอยยิ้มของลูกบ้านกว่า 3,200 ครอบครัว ภายใต้โครงการบ้านคุณภาพดีเยี่ยมกว่า 18 โครงการที่ได้รับการดูแลเอาใจใส่อย่างดีทุกขั้นตอน อันเป็นการตอกย้ำปณิธานของบริษัท ที่พิสูจน์ได้จากการให้ความสำคัญในการ คิดค้น วิจัย ทดลอง และ พัฒนา ผลิตภัณฑ์ เทคโนโลยีการก่อสร้าง และวัสดุอุปกรณ์  โดยคำนึงถึง ความสวยงาม ความทันสมัย ประโยชน์ใช้สอยของลูกบ้านที่หลากหลาย โดยเฉพาะ “ความกว้าง”  ทั้งพื้นที่ดิน พื้นที่ใช้สอย และห้องน้ำที่สะดวกสบาย เสมือนเป็นบ้านของเราเอง<br /></span>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12 text-center text-muted">
            <span style="margin-top:2em;">เพราะตลอดเวลากว่า 25 ปี เราเข้าใจดีว่าความสุขเริ่มต้นที่ ‘บ้าน’ และ ‘บ้านในฝัน’ ของคุณ คือ ‘ความฝัน’ ของเราทุกคนที่ Dreamland ที่เรายังจะคงมุ่งมั่นสร้างทุกหลังด้วยความรักตลอดมาและตลอดไป</span>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12">
            <img class="pc" src="/images/dreamlandkingdom/06 Legacy_03 DL Kingdom_Footprint.jpg" style="width:100%" />
            <img class="mobile" src="/images/dreamlandkingdom/06 Legacy_03 DL Kingdom_Footprint_Mobile 20220106.jpg" style="width:100%" />
        </div>
    </div>

    <h4 class="title text-center mt-5"><bold>อาณาจักรแห่งฝันที่เราร่วมกันดูแล</bold></h4>
    <div class="row text-muted kingdom-content mt-5" style="margin-left: 0px;margin-right: 0px">
        <div class="col-12 col-md-6">
            <img class="kingdom-image-left" src="/images/dreamlandkingdom/06 Legacy_03 DL Kingdom 2_Good Memory_20220107.jpg" />
        </div>
        <div class="col-12 col-md-5 mx-3 kingdom-text-right ">
            <span class="maincolor"><bold>"ถ้าเราไม่ช่วยเขา แล้วเขาจะไปอยู่ไหนกันหละ" - อุทกภัย ปี 2554</bold><br /><br /></span>
            <span>เพราะความฝันของลูกบ้านคือความฝันของเราวินาทีที่คนหนึ่งคนได้มาเป็นลูกบ้านเราก็คือ วินาทีที่เขาฝากฝันไว้กับเราการดูแลความฝันความสุขของลูกบ้านคือความภาคภูมิใจของเรา<br /><br /></span>
            <span>หนึ่งในนั้นคือ เหตุการณ์อุทกภัยในปี 2554 ในครั้งนั้น ทั้งบ้านที่มีคนอาศัยอยู่แล้ว และที่อยู่ในระหว่างก่อสร้างต่างได้รับความเสียหาย และต้องใช้ค่าใช้จ่ายในการซ่อมแซมเราเข้าใจถึงหัวอกของลูกบ้านเป็นอย่างดีที่ไม่สามารถทิ้งบ้าน หรือย้ายออกไปได้<br /><br /></span>
            <span>เราได้ทำทุกวิถีทางเพื่อบรรเทาทุกข์และบำรุงสุขของทุกคนตั้งแต่การจัดหาเรือและรถบริการ, จัดให้มีรปภ.ประจำโครงการทุกโครงการดูแลตลอด24ชั่วโมง พร้อมเรือสายตรวจคอยตระเวนตรวจตราความเรียบร้อยไปจนถึงการซ่อมแซมบ้านให้กับลูกบ้านในโครงการกว่า 1,000 หลัง เพื่อช่วยเหลือ แบ่งเบาภาระค่าใช้จ่ายให้แก่ลูกบ้านจนเราและลูกบ้านผ่านพ้นวิกฤตนั้นไปด้วยกัน</span>
        </div>
    </div>
</div>
<div class="row mt-5">
    <div class="col-12">
        <div class="timeline" data-mode="horizontal">
            <div class="timeline__wrap">
                <div class="timeline__items">
                    <div class="timeline__item">
                        <div class="timeline__content">
                            Content / markup here
                        </div>
                    </div>
                    <div class="timeline__item">
                        <div class="timeline__content">
                            Content / markup here
                        </div>
                    </div>
                    <div class="timeline__item">
                        <div class="timeline__content">
                            Content / markup here
                        </div>
                    </div>
                    <div class="timeline__item">
                        <div class="timeline__content">
                            Content / markup here
                        </div>
                    </div>
                    <div class="timeline__item">
                        <div class="timeline__content">
                            Content / markup here
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>


<script>
    $('.timeline').timeline();
</script>