
html {
    overflow-x: hidden;
}

.header-logo {
    width: 100%;
}

.page-content {
    margin: 2em 0em 0em 0em;
}

footer {
    position: relative !important;
    margin: 2em 0em 2em 0em;
    padding: 2em 0em 0em 0em;
}

.footer-logo {
    width: 80%;
}

.footer-social-icon {
}

    .footer-social-icon.facebook-icon {
        display: block;
        margin-left: 40%;
    }

    .footer-social-icon.facebook-icon {
        display: block;
        margin-right: 100%;
    }

@media screen and (max-width: 992px) {
    .footer-logo {
        width: 60%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .footer-contact {
        display: block;
        margin: 1.5em auto 0em auto;
        text-align: center;
    }

    .footer-social {
        display: block;
        margin: 1.5em auto 0em auto;
        text-align: center;
    }

    .footer-social-icon {
    }

        .footer-social-icon.facebook-icon {
            display: block;
            margin-left: 80%;
        }

        .footer-social-icon.youtube-icon {
            display: block;
            margin-right: 80%;
        }

    .footer-copyright {
        display: block;
        margin: 1.5em auto 0em auto;
        text-align: center;
    }
}

@media screen and (max-width: 600px) {
}
