.section-highlight {
    padding: 0em 7.5%;
    display: block;
    margin: 0px auto;
}

.section-legacy {
    padding: 0em 7.5%;
    display: block;
    margin: 0px auto;
}

.cards {
    display: block;
    margin: 0px auto 1em;
}

.card {
    width: 30%;
    position: relative;
    display: inline-block;
}

    .card .img-hidden {
        width: 100%;
        visibility: hidden;
    }

    .card .img-back {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 99;
    }

    .card .img-top {
        width: 100%;
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 99;
    }

    .card:hover .img-top {
        display: inline;
    }

@media screen and (max-width: 992px) {
    .section-highlight {
        padding: 0em;
    }

    .section-legacy {
        padding: 0em;
    }

    .card .img-back {
        display: none;
    }

    .card .img-top {
        display: block;
    }
}
