.section-highlight {
    padding: 0em 7.5%;
    display: block;
    margin: 0px auto;
}

.section-legacy {
    padding: 0em 7.5%;
    display: block;
    margin: 0px auto;
}

.cards {
    display: block;
    margin: 0px auto 1em;
}

#legacy-section-image {
    display: block;
    margin: 0px auto;
}

.card {
    width: 415px;
    height: 566px;
    position: relative;
    display: inline-block;
}
    .card .img-back {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 99;
        width: 415px;
        height: 566px;
    }

    .card .img-top {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 99;
        width: 415px;
        height: 566px;
    }

    .card:hover .img-top {
        display: inline;
    }

@media screen and (max-width: 992px) {
    .section-highlight {
        padding: 0em;
    }

    .section-legacy {
        padding: 0em;
    }

    .card .img-back {
        display: none;
    }

    .card .img-top {
        display: block;
    }
}
