
.section {
    padding: 0em 20em;
    font-size: 18px;
}

.custom-tab {
    color: #0b54a3 !important;
    background-color: white !important;
    border-radius: 0px !important;
    border-bottom: solid 5px transparent;
}

    .custom-tab.active {
        border-bottom: solid 5px #0b54a3;
    }

.logo-image {
    width: 75%;
    display: block;
    margin: 0px auto;
}

.title {
    margin-bottom: 2em;
}

/* Centered text */
.image-overlay-text-price {
    position: absolute;
    top: 69.5%;
    left: 78%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.25em;
}

@media screen and (max-width: 992px) {
    .section {
        padding: 0em;
        font-size: 15px;
    }
}
