@page
@model Dreamland.Pages.CompanyModel
@{
    ViewData["Title"] = "Our Company";
}

<link rel="stylesheet" href="~/css/company.css" asp-append-version="true" />

<img class="pc" src="/images/company/06 Legacy_02 Company_Header_PC_20220111.jpg" style="width:100%;height:600px;" />
<img class="mobile" src="/images/company/06 Legacy_02 Company_Header_Mobile_20220111.jpg" style="width:100%" />
<div class="section">
    <div class="row mt-5" style="margin-left:0px;margin-right:0px;">
        <div class="col-12 text-center text-muted">
            <h4 class="title text-center mt-5 mb-5"><bold>องค์กรแห่งฝัน</bold></h4>
            <span>เป็นเวลา <bold class="maincolor">กว่า 25 ปี</bold> ที่บริษัท ดรีมแลนด์ พร๊อพเพอร์ตี้ ได้สร้างฝัน สร้างความสุข และพัฒนาที่ดินให้เกิดคุณค่า โดยเริ่มพัฒนาโครงการแรกตั้งแต่ในปี พ.ศ. 2540 ในที่ดินแห่ง แรกในย่านเขตบางกรวย จังหวัดนนทบุรีที่ยังเป็นเพียงทุ่งหญ้าทุ่งนาเราได้มุ่งมั่นสร้างชุมชนใหม่แห่งความสุข มีทั้งบ้านเดี่ยว อาคารพาณิชย์ และทาวน์โฮมพร้อมที่ดินตลอดมา จวบจนวันนี้เราภาคภูมิใจว่าความฝันของเรานั้นได้เติบใหญ่กลายเป็น ชุมชนที่มีผู้คนอยู่อาศัยมากมาย และได้มอบรอยยิ้มให้ลูกบ้าน <bold class="maincolor">กว่า 3,200 ครอบครัว</bold><br /></span>
        </div>
    </div>
    <div class="row mt-5" style="margin-left:0px;margin-right:0px;">
        <h4 class="title text-center"><bold>ผนึกกำลัง โครงสร้างแห่งฝัน</bold></h4>
    </div>
    <div class="row" style="margin-left: 0px;margin-right:0px;">
        <div class="col-12 col-md-4">
            <div class="row logo-image mb-3">
                <img src="/images/company/06 Legacy_02 Company_DL Structure Icon_DL.png" />
            </div>
            <div class="row" style="margin-left:0px;margin-right:0px;">
                <div class="col-12 text-center maincolor">
                    <span><bold>DL Property</bold><br /></span>
                    <span>“เราจะสร้างบ้านทุกหลัง ให้เหมือนกับเป็นบ้านของเราเอง” คือคำพูดของประธานบริษัทดรีมแลนด์ พร๊อพเพอร์ตี้ ที่เรายึดถือเป็นปณิธานในการทำงานมาโดยตลอดเราตั้งใจลงทุนคิดค้น พัฒนา และก่อตั้งโรงงานผลิตแผ่นคอนกรีต Precast, เฟอร์นิเจอร์ไม้ และบานอลูมิเนียม เพื่อคุณภาพบ้านที่ดีที่สุด ที่เราใส่ใจและให้ความสำคัญเป็นอันดับหนึ่ง เพราะเราเข้าใจดีว่าบ้านคือความฝัน ความสุข และรอยยิ้มของลูกบ้าน Dreamland ทุกคน</span>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="row logo-image mb-3">
                <img src="/images/company/06 Legacy_02 Company_DL Structure Icon_precast.png" />
            </div>
            <div class="row" style="margin-left:0px;margin-right:0px;">
                <div class="col-12 text-center" style="color:#0a2b51">
                    <span><bold>DL Precast</bold><br /></span>
                    <span>ด้วยความมุ่งมั่นที่จะสร้างสรรค์บ้านที่มีคุณภาพสูงสุด บริษัท ดรีมแลนด์ พร๊อพเพอร์ตี้ จึงได้ร่วมกับ ทีมวิศวกรผู้เชี่ยวชาญ จากประเทศฮ่องกง คิดค้น วิจัยและพัฒนาแผ่นคอนกรีต Precast ชนิดพิเศษ ที่หมดปัญหาน้ำรั่วซึมทุกขั้นตอนการผลิตแผ่นคอนกรีต Precast ที่โรงงานของเรา ผ่านการควบคุมคุณภาพตามมาตรฐาน  Dreamland Property เพื่อความมั่นใจในคุณภาพบ้านในฝันที่ดีที่สุดของลูกบ้านทุกคน</span>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="row logo-image mb-3">
                <img src="/images/company/06 Legacy_02 Company_DL Structure Icon_woodwork.png" />
            </div>
            <div class="row" style="margin-left:0px;margin-right:0px;">
                <div class="col-12 text-center" style="color:#b37b39">
                    <span><bold>DL Woodwork</bold><br /></span>
                    <span>ด้วยความรักในความสวยงามของธรรมชาติ Dreamland ได้นำ “ไม้” มาเป็นวัสดุในการสร้างสรรค์ผลงานบ้านหลายโครงการ จนเป็นเอกลักษณ์ที่อยู่คู่กับ “บ้าน”ของ Dreamland มาโดยตลอดเพื่อความมั่นใจในคุณภาพวัสดุบ้านของ Dreamland ที่ดีที่สุด เราพิถีพิถันและคัดสรรแต่ไม้เนื้อแข็งคุณภาพดี นำมาผ่านกรรมวิธีอบ และผลิตขึ้นรูปในโรงงาน “ไม้”มาตรฐานส่งออก ที่ยังใช้ผลิตเฟอร์นิเจอร์คุณภาพมาตราฐานระดับโลกสไตล์เรียบหรูที่ ส่งออกและมีจำหน่ายในประเทศ ภายใต้ แบรนด์ MQ Living อีกด้วย</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-5" style="margin-left: 0px;margin-right:0px;">
        <div class="col-12 col-md-4">
        </div>
        <div class="col-12 col-md-4">
            <div class="row logo-image mb-3">
                <img src="/images/company/06 Legacy_02 Company_DL Structure Icon_steelwork.png" />
            </div>
            <div class="row" style="margin-left:0px;margin-right:0px;">
                <div class="col-12 text-center" style="color:#6a6e71">
                    <span><bold>DL Steelwork</bold><br /></span>
                    <span>เราไม่เพียงแต่มุ่งสร้างบ้านที่มีโครงสร้างแข็งแรงเพียงเท่านั้นแต่ยังใส่ใจละเอียดไปจนถึงอุปกรณ์และวัสดุทุกชิ้น แม้แต่บานอลูมิเนียม เราจึงออกแบบบานประตูและหน้าต่างที่หนาและแข็งแรงเป็นพิเศษ โดยใช้วัสดุคุณภาพดี เพื่อความคงทนและอายุการใช้งานยาวนานในราคาที่จับต้องได้เราใส่ใจในทุกรายละเอียดของบ้าน เฉกเช่นเหมือนกับ ‘บ้าน’ ของเราเอง โดยคำนึงถึงการใช้งานจริงและประโยชน์กับลูกบ้านเป็นสำคัญ เพราะเราเชื่อว่า….ความสุขเริ่มต้นที่ “บ้าน”</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-left:0px;margin-right:0px;">
        <div class="col-12 col-md-12">
            <img class="pc" src="/images/company/06 Legacy_02 Company_Philosophy_PC.jpg" style="width:100%;" />
            <img class="mobile" src="/images/company/06 Legacy_02 Company_Philosophy_Mobile.jpg" style="width:100%" />
        </div>
    </div>
    <div class="row mt-5" style="margin-left:0px;margin-right:0px;">
        <div class="col-12 col-md-12 text-center ">
            <span>
                บ้านนั้นเป็นตัวแทนของความฝัน เป็นจุดเริ่มต้นและเป็นเสาเข็มของชีวิตที่มั่นคง เป็นหยาดเหงื่อแรงกาย และคุณได้ฝากความหวังนี้ไว้กับเราบ้านทุกหลังของเรา ไม่ว่าจะราคาเท่าใด เราใส่ใจเต็มที่เสมอเสมือนเราสร้างบ้านที่เราอยู่เองวัสดุที่เลือก วิธีการก่อสร้าง ทุกอย่างผ่านการคำนึงถึงสิ่งที่คุณจะมีความสุขในการอยู่อาศัยจริงแม้ในสิ่งที่มองไม่เห็นด้วยตา เช่น การลงเสาเข็มลานซักล้างลึกเท่าตัวบ้านจนถึงชั้นดินดาน ไปจนถึงโครงสร้างผนังบ้านที่เราออกแบบและพัฒนาให้หนาพิเศษเพราะบ้านทุกหลังที่เราสร้างเป็นทั้งความฝันและความสุขของคุณและของเรา
            </span>
        </div>
    </div>
</div>
