@page
@model Dreamland.Pages.DreamPrivaModel
@{
}

<link rel="stylesheet" href="~/css/dreampriva.css" asp-append-version="true" />
<div class="row">
    <div class="col-12 col-md-12">
        <img class="pc" src="/images/Townhome/DreamPriva/Dream Priva - Top Banner_360 icon_2.jpg" style="width:100%" />
    </div>
</div>
<img class="mobile" src="/images/Townhome/DreamPriva/dreamprivamobile.jpg" />   