@page
@model Dreamland.Pages.OurDreamModel
@{
    ViewData["Title"] = "Our Dream";
}

<link rel="stylesheet" href="~/css/ourdream.css" asp-append-version="true" />

<img class="pc" src="/images/ourdream/pc.jpg" />
<img class="mobile" src="/images/ourdream/mobile.jpg" />

<h4 class="title text-center"><bold>ฝันของเรา</bold></h4>
<div class="row our-content mt-5" style="margin-left: 0px;margin-right: 0px">
    <div class="col-12 col-md-6">
        <img class="our-image-left" src="/images/ourdream/left.jpg" />
    </div>
    <div class="col-12 col-md-5 mx-3 our-text-right">
        <span ><bold>ฝันนั้นเป็นสิ่งที่งดงามและสวยงามเสมอ</bold><br /></span>
        <span >ทุกคนนั้นมีความ<br /></span>
        <span ><bold>เราเองก็มีความฝัน</bold><br /><br /></span>
        <span >เราฝันที่จะเห็น <bold>สังคมที่งดงาม</bold> ทุกคนเอื้อเฝื้อเผื่อแผ่<br /></span>
        <span >มีแต่รอยยิ้ม <bold>เต็มไปด้วยความสุขและวันเวลาที่ดี</bold><br /><br /></span>
        <span >เราจึงเริ่มสร้างฝันของเรา <bold>ผ่านการสร้าง บ้าน</bold><br /></span>
        <span ><bold>บ้าน</bold> ที่สร้างด้วย<bold>ความจริงใจ</bold><br /></span>
        <span ><bold>บ้าน</bold> ที่มีพื้นที่ที่<bold>อยู่ได้อย่างสบายๆ</bold><br /></span>
        <span ><bold>บ้าน</bold> ที่ใช้<bold>วัสดุที่แข็งแรง อยู่นาน</bold><br /></span>
        <span ><bold>บ้าน</bold> ที่มี<bold>โครงสร้างคงทน ไม่มีรอยรั่ว</bold><br /></span>
        <span ><bold>บ้าน</bold> ที่มี<bold>ราคาที่ทุกคนจับต้องได้</bold><br /><br /></span>
        <span ><bold>บ้าน ที่จะเหมาะสมเป็นบ้านในฝันของคนทุกคน</bold><br /><br /></span>
        <span >แล้ว <bold>ฝันของทุกคน</bold> ก็กลายเป็น <bold>ฝันของเรา</bold><br /></span>
        <span ><bold>รอยยิ้มของทุกคน</bold> ก็กลายเป็น <bold>รอยยิ้มของเรา</bold><br /><br /></span>
        <span >เราเรียกสิ่งนี้ว่า <bold>DREAMLAND</bold><br /></span>
    </div>
</div>