@page
@model Dreamland.Pages.OurDreamModel
@{
    ViewData["Title"] = "Our Dream";
}

<link rel="stylesheet" href="~/css/ourdream.css" asp-append-version="true" />

<img class="pc" src="/images/ourdream/pc.jpg" />
<img class="mobile" src="/images/ourdream/mobile.jpg" />

<h4 class="title text-center">ฝันของเรา</h4>
<div class="our-content">
    <div class="row">
        <div class="col-12 col-lg-6">
            <img class="our-image-left" src="/images/ourdream/left.jpg" />
        </div>
        <div class="col-12 col-lg-6">
            <span><bold>ฝันนั้นเป็นสิ่งที่งดงามและสวยงามเสมอ</bold></span>
        </div>
    </div>
</div>