<link rel="stylesheet" href="~/css/contact.css" asp-append-version="true" />

<img class="pc" src="/images/contact/07 Contact us_Top Banner_PC.jpg" />
<img class="mobile" src="/images/contact/07 Contact us_Top Banner_Mobile.jpg" />

<div class="row">
    <div class="col-12">
        <h4 class="title text-center"><bold>ติดต่อเรา</bold></h4>
    </div>
</div>
<div class="section mt-5">
    <div class="row" style="text-align:center;">
        <div class="col-6 col-md-3">
            <img src="/images/contact/07 Contact_Icon_Location_20220112.png" class="contact-image" />
            <span class="maincolor"><bold>ตำแหน่งสำนักงานเรา</bold><br /></span>
            <span>บริษัท ดรีมแลนด์ พร๊อพเพอร์ตี้ จำกัด <br /> 137/170 หมู่ที่ 5 ถนน กรุงนนท์-จงถนอม มหาสวัสดิ์ บางกรวย นนทบุรี 11130</span>
        </div>
        <div class="col-6 col-md-3">
            <img src="/images/contact/07 Contact_Icon_Phone_20220112.png" class="contact-image" />
            <span class="maincolor"><bold>โทรติดต่อเรา</bold><br /></span>
            <span>ฝ่ายขาย Dream Priva: 02-403-2226-8, 081-697-3897<br />ฝ่ายขาย Ratirom Deluxe: 02-422-5337-9, 086-607-7033<br />สำนักงานใหญ่: 02-422-0371-3</span>
        </div>
        <div class="col-6 col-md-3">
            <img src="/images/contact/07 Contact_Icon_Email_20220112.png" class="contact-image" />
            <span class="maincolor"><bold>อีเมลล์หาเรา</bold><br /></span>
            <span>contact@dreamland.co.th</span>
        </div>
        <div class="col-6 col-md-3">
            <img src="/images/contact/07 Contact_Icon_Time_20220112.png" class="contact-image" />
            <span class="maincolor"><bold>เวลาทำการของเรา</bold><br /></span>
            <span>ทุกวัน เวลา: 09.00 น. ถึง 18.00 น.</span>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12">
            <img src="/images/contact/07 Contact_Map-01.jpg" class="contact-image" style="width: 75%" />
        </div>
    </div>
    <div class="row mt-3 text-center">
        <div class="col-12">
            <a href="#">แผนที่ Google Map</a>
        </div>
    </div>
</div>